<aside class="main-sidebar">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only"></span>
        <span class="inner-circle"></span>
    </a>
    <!-- Sidebar toggle button-->
    <a href="#" class="logo-wrapper">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini mt-2">RAS</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
          <!-- <img style="height: 81px; width: 176px" src="assets/css/patterns/logo.png"> -->
        <img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/64eddd725a4dd556617841db3fb97ca1.png">
      </span>
    </a>
    <!-- Admin Logo Part End -->
    <section class="sidebar" style="height: auto;">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left info">
                <p></p>
                <p>Admin User</p>
            </div>
        </div>
        <!-- <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
        </ul> -->
        <div id="left_menu_to_scroll">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu ps ps--active-y tree" data-widget="tree">
                <li class="menu_assign_class menu__cid1" data-menu__cid="1" [routerLinkActive]="['active']">
                    <!--This variable could not be escaped because this is base url content-->
                    <a routerLink="/Home">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                <polyline points="9 22 9 12 15 12 15 22"></polyline>
              </svg>
                        <span> Home</span>
                    </a>
                </li>
                <li class="menu_assign_class menu__cid3" data-menu__cid="3">
                    <!--This variable could not be escaped because this is base url content-->
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings">
                <circle cx="12" cy="12" r="3"></circle>
                <path
                  d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
                </path>
              </svg>
                        <span> Setting</span>
                    </a>
                </li>
                <li class="menu_assign_class menu__cid4" data-menu__cid="4" [routerLinkActive]="['active']">
                    <!--This variable could not be escaped because this is base url content-->
                    <a routerLink="/Outlet">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hard-drive">
                <line x1="22" y1="12" x2="2" y2="12"></line>
                <path
                  d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z">
                </path>
                <line x1="6" y1="16" x2="6.01" y2="16"></line>
                <line x1="10" y1="16" x2="10.01" y2="16"></line>
              </svg>
                        <span> Outlets</span>
                    </a>
                </li>
                <li class="treeview menu__cid5">
                    <a [routerLinkActive]="['active']">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                <polyline points="14 2 14 8 20 8"></polyline>
                <line x1="16" y1="13" x2="8" y2="13"></line>
                <line x1="16" y1="17" x2="8" y2="17"></line>
                <polyline points="10 9 9 9 8 9"></polyline>
              </svg>
                        <span>Master</span>

                    </a>
                    <ul class="treeview-menu">
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Master/Categories" [routerLinkActive]="['active']">
                  Ingredient Categories</a></li>
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Master/Units">
                  Ingredient Units</a></li>
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Master/Ingredient">
                  Ingredients</a></li>
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Master/Modifiers">
                  Modifiers</a></li>
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Master/FoodMenuCat">
                  Food Menu Categories</a></li>
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Master/FoodMenu">
                  Food Menus</a></li>
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Master/Supplier">
                  Sippliers</a></li>
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Master/Customer">
                   Customer</a></li>
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Master/Expense">
                   Expense Items</a></li>
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Master/PaymentMethod">
                   Payment Methods</a></li>
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Master/Table">
                    Tables</a></li>
                    </ul>
                </li>
                <li class="treeview menu__cid5">
                    <a [routerLinkActive]="['active']">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                <polyline points="14 2 14 8 20 8"></polyline>
                <line x1="16" y1="13" x2="8" y2="13"></line>
                <line x1="16" y1="17" x2="8" y2="17"></line>
                <polyline points="10 9 9 9 8 9"></polyline>
              </svg>
                        <span>All Screen</span>

                    </a>
                    <ul class="treeview-menu">
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/AllScreen/Pos" [routerLinkActive]="['active']">
                  POS</a></li>
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/AllScreen/Bar">
                  Bar</a></li>
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/AllScreen/Kitchen">
                  Kitchen</a></li>
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/AllScreen/Waiter">
                   Waiter</a></li>
                    </ul>
                </li>
                <li class="menu_assign_class menu__cid6" data-menu__cid="6" [routerLinkActive]="['active']">
                    <!--This variable could not be escaped because this is base url content-->
                    <a routerLink="/Dashboard">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
                <rect x="3" y="3" width="7" height="7"></rect>
                <rect x="14" y="3" width="7" height="7"></rect>
                <rect x="14" y="14" width="7" height="7"></rect>
                <rect x="3" y="14" width="7" height="7"></rect>
              </svg>
                        <span> Dashboard</span>
                    </a>
                </li>
                <li class="menu_assign_class menu__cid7" data-menu__cid="7">
                    <!--This variable could not be escaped because this is base url content-->
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck">
                <rect x="1" y="3" width="15" height="13"></rect>
                <polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon>
                <circle cx="5.5" cy="18.5" r="2.5"></circle>
                <circle cx="18.5" cy="18.5" r="2.5"></circle>
              </svg>
                        <span> Purchase</span>
                    </a>
                </li>
                <li class="menu_assign_class menu__cid8" data-menu__cid="8">
                    <!--This variable could not be escaped because this is base url content-->
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck">
                <rect x="1" y="3" width="15" height="13"></rect>
                <polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon>
                <circle cx="5.5" cy="18.5" r="2.5"></circle>
                <circle cx="18.5" cy="18.5" r="2.5"></circle>
              </svg>
                        <span> Transfer</span>
                    </a>
                </li>
                <li class="menu_assign_class menu__cid9" data-menu__cid="9">
                    <!--This variable could not be escaped because this is base url content-->
                    <a routerLink="/Sale">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart">
                <circle cx="9" cy="21" r="1"></circle>
                <circle cx="20" cy="21" r="1"></circle>
                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
              </svg>
                        <span> Sale</span>
                    </a>
                </li>
                <li class="menu_assign_class menu__cid10" data-menu__cid="10">
                    <!--This variable could not be escaped because this is base url content-->
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-server">
                <rect x="2" y="2" width="20" height="8" rx="2" ry="2"></rect>
                <rect x="2" y="14" width="20" height="8" rx="2" ry="2"></rect>
                <line x1="6" y1="6" x2="6.01" y2="6"></line>
                <line x1="6" y1="18" x2="6.01" y2="18"></line>
              </svg>
                        <span> Stock</span>
                    </a>
                </li>
                <li class="menu_assign_class menu__cid11" data-menu__cid="11">
                    <!--This variable could not be escaped because this is base url content-->
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-server">
                <rect x="2" y="2" width="20" height="8" rx="2" ry="2"></rect>
                <rect x="2" y="14" width="20" height="8" rx="2" ry="2"></rect>
                <line x1="6" y1="6" x2="6.01" y2="6"></line>
                <line x1="6" y1="18" x2="6.01" y2="18"></line>
              </svg>
                        <span> Food Menu Stock</span>
                    </a>
                </li>
                <li class="menu_assign_class menu__cid12" data-menu__cid="12">
                    <!--This variable could not be escaped because this is base url content-->
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun">
                <circle cx="12" cy="12" r="5"></circle>
                <line x1="12" y1="1" x2="12" y2="3"></line>
                <line x1="12" y1="21" x2="12" y2="23"></line>
                <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                <line x1="1" y1="12" x2="3" y2="12"></line>
                <line x1="21" y1="12" x2="23" y2="12"></line>
                <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
              </svg>
                        <span> Stock Adjustments</span>
                    </a>
                </li>
                <li class="menu_assign_class menu__cid13" data-menu__cid="13">
                    <!--This variable could not be escaped because this is base url content-->
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2">
                <polyline points="3 6 5 6 21 6"></polyline>
                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                <line x1="10" y1="11" x2="10" y2="17"></line>
                <line x1="14" y1="11" x2="14" y2="17"></line>
              </svg>
                        <span> Waste</span>
                    </a>
                </li>
                <div class="ps__rail-x" style="width: 70px; left: 0px; bottom: -501px;">
                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                </div>
                <div class="ps__rail-y" style="top: 501px; height: 220px; right: 0px;">
                    <div class="ps__thumb-y" tabindex="0" style="top: 120px; height: 52px;"></div>
                </div>
            </ul>

        </div>
    </section>
    <!-- /.sidebar -->
</aside>
