<div class="wrapper">
    <!-- Main Header Part -->
    <div class="top_header_part">
        <div class="left_item">
            <div class="header_part_middle">
                <ul class="icon__menu">
                    <li class="has__children">
                        <a href="javascript:void(0)" class="header_menu_icon" data-tippy-content="Main Menu">
                            <i class="fal fa-user"></i>
                        </a>
                        <ul class="sub__menu" role="menu">
                            <li><a href="http://dsbeta.work/demo/irestora_plus_multi_outlet/Authentication/userProfile">My Profile</a>
                            </li>
                            <li><a href="http://dsbeta.work/demo/irestora_plus_multi_outlet/Authentication/changePassword">Change
                  Password</a>
                            </li>
                            <li>
                                <a href="http://dsbeta.work/demo/irestora_plus_multi_outlet/Authentication/logOut">Logout</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has__children">
                        <a href="javascript:void(0)" class="header_menu_icon" data-tippy-content="Language">
                            <i class="fal fa-globe"></i>
                        </a>
                        <ul class="sub__menu" role="menu">
                            <li class=""><a href="http://dsbeta.work/demo/irestora_plus_multi_outlet/Authentication/setlanguagePOS/arabic">Arabic</a>
                            </li>
                            <li class="active_lng"><a href="http://dsbeta.work/demo/irestora_plus_multi_outlet/Authentication/setlanguagePOS/english">English</a>
                            </li>
                            <li class=""><a href="http://dsbeta.work/demo/irestora_plus_multi_outlet/Authentication/setlanguagePOS/french">French</a>
                            </li>
                            <li class=""><a href="http://dsbeta.work/demo/irestora_plus_multi_outlet/Authentication/setlanguagePOS/spanish">Spanish</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0)" id="open_hold_sales" class="header_menu_icon" data-tippy-content="Open Draft Sales">
                            <i class="fal fa-folder-open"></i>
                        </a>
                    </li>
                    <li><a href="javascript:void(0)" class="header_menu_icon" id="print_last_invoice" data-tippy-content="Print Last Invoice"><i class="fal fa-print"></i></a></li>
                    <li>
                        <a href="javascript:void(0)" id="last_ten_sales_button" class="header_menu_icon" data-tippy-content="Recent Sales"><i class="fal fa-history"></i></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" id="last_ten_feature_button" class="header_menu_icon" data-tippy-content="Future Sales"><i class="fa fa-history"></i></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" id="help_button" class="header_menu_icon" data-tippy-content="Read Before Begin"><i class="fal fa-question-circle"></i>
            </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" id="calculator_button" class="header_menu_icon" data-tippy-content="Calculator"> <i class="fal fa-calculator"></i>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)" id="notification_button" class="header_menu_icon" data-tippy-content="Kitchen Notification">
                            <i class="fal fa-bell"></i>
                            <span id="notification_counter" class="c_badge ">2</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" id="register_details" class="header_menu_icon" data-tippy-content="Register">
                            <i class="fal fa-registered"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="header_menu_icon" id="go_to_dashboard" data-tippy-content="Dashboard">
                            <i class="fal fa-tachometer-alt-fast"></i>
                        </a>
                    </li>

                </ul>

                <ul class="icon__menu">
                    <li><a href="javascript:void(0)" class="time__date"><i class="fal fa-stopwatch"></i></a></li>
                    <li><a href="javascript:void(0)" id="fullscreen" class="header_menu_icon" data-tippy-content="Full Screen"><i
                class="fal fa-expand-arrows-alt"></i></a></li>
                    <li>
                        <a href="javascript:void(0)" data-tippy-content="Main Menu" id="open__menu" class="header_menu_icon">
                            <i class="fal fa-align-justify"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Right Header Menu List -->
        <div class="header_part_right">
            <ul class="btn__menu">
                <li>
                    <a href="javascript:void(0)" id="button_category_show_all1" class="bg__blue">All</a>
                </li>
                <li class="has__children">
                    <a href="javascript:void(0)" class="show__cat__list bg__purple">Category</a>
                    <ul class="sub__menu">
                        <!--This variable could not be escaped because this is html content-->
                        <li><a href="javascript:void(0)" class="category_button" id="button_category_1">Chienese</a></li>
                        <li><a href="javascript:void(0)" class="category_button" id="button_category_2">Fast Food </a></li>
                        <li><a href="javascript:void(0)" class="category_button" id="button_category_8">Beverage</a></li>
                        <li><a href="javascript:void(0)" class="category_button" id="button_category_10">Mexican</a></li>
                        <li><a href="javascript:void(0)" class="category_button" id="button_category_11">Bengali</a></li>
                        <li><a href="javascript:void(0)" class="category_button" id="button_category_12">Italian</a></li>
                        <li><a href="javascript:void(0)" class="category_button" id="button_category_13">Thai Food</a></li>
                        <li><a href="javascript:void(0)" class="category_button" id="button_category_14">Deserts </a></li>
                        <li><a href="javascript:void(0)" class="category_button" id="button_category_15">American</a></li>
                        <li><a href="javascript:void(0)" class="category_button" id="button_category_16">Indian</a></li>
                        <li><a href="javascript:void(0)" class="category_button" id="button_category_17">Japanese</a></li>
                        <li><a href="javascript:void(0)" class="category_button" id="button_category_19">Maxiacan</a></li>
                        <li><a href="javascript:void(0)" class="category_button" id="button_category_26">ცომეული</a></li>
                        <li><a href="javascript:void(0)" class="category_button" id="button_category_27">Seafoods</a></li>
                        <li><a href="javascript:void(0)" class="category_button" id="button_category_28">ACK Menu</a></li>
                        <li><a href="javascript:void(0)" class="category_button" id="button_category_29">PIZZAS</a></li>
                        <li><a href="javascript:void(0)" class="category_button" id="button_category_30">BEBIDAS</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0)" data-status="veg" class="veg_bev_item bg__green">Vegetarian Items</a></li>
                <li><a href="javascript:void(0)" data-status="bev" class="veg_bev_item bg__grey">Beverage Items</a></li>
                <li><a href="javascript:void(0)" data-status="bar" class="veg_bev_item bg__khoyre">Bar Items</a></li>
            </ul>
        </div>
    </div>
    <div class="top_header_for_mobile">
        <button type="button" data-isactive="false" id="show_running_order" class="bg__red">
      <i class="far fa-bags-shopping"></i> <span>Running Order</span></button>
        <button type="button" id="show_cart_list" class="bg__purple">
      <i class="far fa-list-alt"></i> <span>Cart</span></button>
        <button type="button" id="show_product" class="bg__grey">
      <i class="far fa-th"></i> <span>Products</span></button>
        <button type="button" id="show_all_menu" class="bg__green">
      <i class="fal fa-bars"></i> <span>Others</span></button>
    </div>
    <div id="main_part">
        <div class="left_item">
            <div class="main_left" style="height: 600px;">
                <div class="holder">
                    <div id="running_order_header">
                        <h3>Running Orders</h3>
                        <span id="refresh_order"><i class="fas fa-sync-alt"></i></span>
                        <input type="text" name="search_running_orders" id="search_running_orders" autocomplete="off" class="ir_h15_m_w90" placeholder="Table, Order Number, Waiter, Customer">
                    </div>

                    <div class="scroll-wrapper order_details scrollbar-macosx" style="position: relative; height: 30px;">
                        <div class="order_details scrollbar-macosx scroll-content scroll-scrolly_visible" id="order_details_holder" style="margin-bottom: 0px; margin-right: 0px;max-height: 278px;">
                            <!--This variable could not be escaped because this is html content-->
                            <div data-started-cooking="0" data-done-cooking="2" class="txt_14 single_order fix new_order_22" data-selected="unselected" id="order_22">
                                <div class="inside_single_order_container">
                                    <div class="single_order_content_holder_inside fix"><span id="open_orders_order_status_22" class="ir_display_none">2</span>
                                        <p><span class="running_order_customer_name">Cust: Sylvester Stallone</span>
                                            <span class="running_order_customer_phone ir_display_none">89798</span>
                                        </p>
                                        <i class="far fa-chevron-right running_order_right_arrow" id="running_order_right_arrow_22"></i>
                                        <p>Table: <span class="running_order_table_name">None</span></p>
                                        <p>Waiter: <span class="running_order_waiter_name">GIGI</span></p>
                                        <p>Order: <span class="running_order_order_number">A 000022</span></p>
                                    </div>
                                    <div class="order_condition">
                                        <p class="order_on_processing">Started Cooking: 0/2</p>
                                        <p class="order_done">Done: 2/2</p>
                                    </div>
                                    <div class="order_condition">
                                        <p class="txt_16">Time Count: <span id="order_minute_count_22">12806</span>:<span id="order_second_count_22">00</span> M</p>
                                    </div>
                                </div>
                            </div>
                            <div data-started-cooking="0" data-done-cooking="2" class="single_order fix new_order_23" data-selected="unselected" id="order_23">
                                <div class="inside_single_order_container">
                                    <div class="single_order_content_holder_inside fix"><span id="open_orders_order_status_23" class="ir_display_none">1</span>
                                        <p><span class="running_order_customer_name">Cust: Tataiana</span> <span class="running_order_customer_phone ir_display_none">00000</span> </p>
                                        <i class="far fa-chevron-right running_order_right_arrow" id="running_order_right_arrow_23"></i>
                                        <p>Table: <span class="running_order_table_name">Table 2</span></p>
                                        <p>Waiter: <span class="running_order_waiter_name">GIGI</span></p>
                                        <p>Order: <span class="running_order_order_number">A 000023</span></p>
                                    </div>
                                    <div class="order_condition">
                                        <p class="order_on_processing">Started Cooking: 0/2</p>
                                        <p class="order_done">Done: 2/2</p>
                                    </div>
                                    <div class="order_condition">
                                        <p class="txt_16">Time Count: <span id="order_minute_count_23">12805</span>:<span id="order_second_count_23">55</span> M</p>
                                    </div>
                                </div>
                            </div>

                            <div data-started-cooking="0" data-done-cooking="0" class="single_order fix new_order_79" data-selected="unselected" id="order_79">
                                <div class="inside_single_order_container">
                                    <div class="single_order_content_holder_inside fix"><span id="open_orders_order_status_79" class="ir_display_none">1</span>
                                        <p><span class="running_order_customer_name">Cust: Walk-in Customer</span> <span class="running_order_customer_phone ir_display_none"></span> </p> <i class="far fa-chevron-right running_order_right_arrow" id="running_order_right_arrow_79"></i>
                                        <p>Table: <span class="running_order_table_name">None</span></p>
                                        <p>Waiter: <span class="running_order_waiter_name">zak</span></p>
                                        <p>Order: <span class="running_order_order_number">A 000079</span></p>
                                    </div>
                                    <div class="order_condition">
                                        <p class="order_on_processing">Started Cooking: 0/1</p>
                                        <p class="order_done">Done: 0/1</p>
                                    </div>
                                    <div class="order_condition">
                                        <p class="txt_16">Time Count: <span id="order_minute_count_79">5576</span>:<span id="order_second_count_79">33</span> M</p>
                                    </div>
                                </div>
                            </div>
                            <div data-started-cooking="0" data-done-cooking="0" class="single_order fix new_order_80" data-selected="unselected" id="order_80">
                                <div class="inside_single_order_container">
                                    <div class="single_order_content_holder_inside fix"><span id="open_orders_order_status_80" class="ir_display_none">2</span>
                                        <p><span class="running_order_customer_name">Cust: Walk-in Customer</span> <span class="running_order_customer_phone ir_display_none"></span> </p> <i class="far fa-chevron-right running_order_right_arrow" id="running_order_right_arrow_80"></i>
                                        <p>Table: <span class="running_order_table_name">None</span></p>
                                        <p>Waiter: <span class="running_order_waiter_name">zak</span></p>
                                        <p>Order: <span class="running_order_order_number">A 000080</span></p>
                                    </div>
                                    <div class="order_condition">
                                        <p class="order_on_processing">Started Cooking: 0/3</p>
                                        <p class="order_done">Done: 0/3</p>
                                    </div>
                                    <div class="order_condition">
                                        <p class="txt_16">Time Count: <span id="order_minute_count_80">5564</span>:<span id="order_second_count_80">55</span> M</p>
                                    </div>
                                </div>
                            </div>
                            <div data-started-cooking="0" data-done-cooking="0" class="single_order fix new_order_83" data-selected="unselected" id="order_83">
                                <div class="inside_single_order_container">
                                    <div class="single_order_content_holder_inside fix"><span id="open_orders_order_status_83" class="ir_display_none">1</span>
                                        <p><span class="running_order_customer_name">Cust: adam</span> <span class="running_order_customer_phone ir_display_none">123</span> </p> <i class="far fa-chevron-right running_order_right_arrow" id="running_order_right_arrow_83"></i>
                                        <p>Table: <span class="running_order_table_name">None</span></p>
                                        <p>Waiter: <span class="running_order_waiter_name">GIGI</span></p>
                                        <p>Order: <span class="running_order_order_number">A 000083</span></p>
                                    </div>
                                    <div class="order_condition">
                                        <p class="order_on_processing">Started Cooking: 0/2</p>
                                        <p class="order_done">Done: 0/2</p>
                                    </div>
                                    <div class="order_condition">
                                        <p class="txt_16">Time Count: <span id="order_minute_count_83">4672</span>:<span id="order_second_count_83">52</span> M</p>
                                    </div>
                                </div>
                            </div>
                            <div data-started-cooking="0" data-done-cooking="2" class="single_order fix new_order_84" data-selected="unselected" id="order_84">
                                <div class="inside_single_order_container">
                                    <div class="single_order_content_holder_inside fix"><span id="open_orders_order_status_84" class="ir_display_none">1</span>
                                        <p><span class="running_order_customer_name">Cust: Sylvester Stallone</span>
                                            <span class="running_order_customer_phone ir_display_none">89798</span>
                                        </p>
                                        <i class="far fa-chevron-right running_order_right_arrow" id="running_order_right_arrow_84"></i>
                                        <p>Table: <span class="running_order_table_name">None</span></p>
                                        <p>Waiter: <span class="running_order_waiter_name">zak</span></p>
                                        <p>Order: <span class="running_order_order_number">B 000084</span></p>
                                    </div>
                                    <div class="order_condition">
                                        <p class="order_on_processing">Started Cooking: 0/2</p>
                                        <p class="order_done">Done: 2/2</p>
                                    </div>
                                    <div class="order_condition">
                                        <p class="txt_16">Time Count: <span id="order_minute_count_84">4669</span>:<span id="order_second_count_84">41</span> M</p>
                                    </div>
                                </div>
                            </div>
                            <div data-started-cooking="0" data-done-cooking="0" class="single_order fix new_order_85" data-selected="unselected" id="order_85">
                                <div class="inside_single_order_container">
                                    <div class="single_order_content_holder_inside fix"><span id="open_orders_order_status_85" class="ir_display_none">1</span>
                                        <p><span class="running_order_customer_name">Cust: Rohit</span> <span class="running_order_customer_phone ir_display_none">09720959750</span>
                                        </p> <i class="far fa-chevron-right running_order_right_arrow" id="running_order_right_arrow_85"></i>
                                        <p>Table: <span class="running_order_table_name">None</span></p>
                                        <p>Waiter: <span class="running_order_waiter_name">zak</span></p>
                                        <p>Order: <span class="running_order_order_number">B 000085</span></p>
                                    </div>
                                    <div class="order_condition">
                                        <p class="order_on_processing">Started Cooking: 0/2</p>
                                        <p class="order_done">Done: 0/2</p>
                                    </div>
                                    <div class="order_condition">
                                        <p class="txt_16">Time Count: <span id="order_minute_count_85">4666</span>:<span id="order_second_count_85">20</span> M</p>
                                    </div>
                                </div>
                            </div>
                            <div data-started-cooking="0" data-done-cooking="0" class="single_order fix new_order_86" data-selected="unselected" id="order_86">
                                <div class="inside_single_order_container">
                                    <div class="single_order_content_holder_inside fix"><span id="open_orders_order_status_86" class="ir_display_none">1</span>
                                        <p><span class="running_order_customer_name">Cust: Rohit</span> <span class="running_order_customer_phone ir_display_none">09720959750</span>
                                        </p> <i class="far fa-chevron-right running_order_right_arrow" id="running_order_right_arrow_86"></i>
                                        <p>Table: <span class="running_order_table_name">None</span></p>
                                        <p>Waiter: <span class="running_order_waiter_name">zak</span></p>
                                        <p>Order: <span class="running_order_order_number">B 000086</span></p>
                                    </div>
                                    <div class="order_condition">
                                        <p class="order_on_processing">Started Cooking: 0/2</p>
                                        <p class="order_done">Done: 0/2</p>
                                    </div>
                                    <div class="order_condition">
                                        <p class="txt_16">Time Count: <span id="order_minute_count_86">4666</span>:<span id="order_second_count_86">18</span> M</p>
                                    </div>
                                </div>
                            </div>
                            <div data-started-cooking="0" data-done-cooking="0" class="single_order fix new_order_87" data-selected="unselected" id="order_87">
                                <div class="inside_single_order_container">
                                    <div class="single_order_content_holder_inside fix"><span id="open_orders_order_status_87" class="ir_display_none">2</span>
                                        <p><span class="running_order_customer_name">Cust: Rohit</span> <span class="running_order_customer_phone ir_display_none">09720959750</span>
                                        </p> <i class="far fa-chevron-right running_order_right_arrow" id="running_order_right_arrow_87"></i>
                                        <p>Table: <span class="running_order_table_name">None</span></p>
                                        <p>Waiter: <span class="running_order_waiter_name">zak</span></p>
                                        <p>Order: <span class="running_order_order_number">B 000087</span></p>
                                    </div>
                                    <div class="order_condition">
                                        <p class="order_on_processing">Started Cooking: 0/2</p>
                                        <p class="order_done">Done: 0/2</p>
                                    </div>
                                    <div class="order_condition">
                                        <p class="txt_16">Time Count: <span id="order_minute_count_87">4666</span>:<span id="order_second_count_87">15</span> M</p>
                                    </div>
                                </div>
                            </div>
                            <div data-started-cooking="0" data-done-cooking="0" class="single_order fix new_order_88" data-selected="unselected" id="order_88">
                                <div class="inside_single_order_container">
                                    <div class="single_order_content_holder_inside fix"><span id="open_orders_order_status_88" class="ir_display_none">1</span>
                                        <p><span class="running_order_customer_name">Cust: Walk-in Customer</span> <span class="running_order_customer_phone ir_display_none"></span> </p> <i class="far fa-chevron-right running_order_right_arrow" id="running_order_right_arrow_88"></i>
                                        <p>Table: <span class="running_order_table_name">None</span></p>
                                        <p>Waiter: <span class="running_order_waiter_name">zak</span></p>
                                        <p>Order: <span class="running_order_order_number">B 000088</span></p>
                                    </div>
                                    <div class="order_condition">
                                        <p class="order_on_processing">Started Cooking: 0/5</p>
                                        <p class="order_done">Done: 0/5</p>
                                    </div>
                                    <div class="order_condition">
                                        <p class="txt_16">Time Count: <span id="order_minute_count_88">4550</span>:<span id="order_second_count_88">32</span> M</p>
                                    </div>
                                </div>
                            </div>

                            <div data-started-cooking="0" data-done-cooking="0" class="single_order fix new_order_112" data-selected="unselected" id="order_112">
                                <div class="inside_single_order_container">
                                    <div class="single_order_content_holder_inside fix"><span id="open_orders_order_status_112" class="ir_display_none">1</span>
                                        <p><span class="running_order_customer_name">Cust: adam</span> <span class="running_order_customer_phone ir_display_none">0633833747</span>
                                        </p> <i class="far fa-chevron-right running_order_right_arrow" id="running_order_right_arrow_112"></i>
                                        <p>Table: <span class="running_order_table_name">None</span></p>
                                        <p>Waiter: <span class="running_order_waiter_name">zak</span></p>
                                        <p>Order: <span class="running_order_order_number">C 000112</span></p>
                                    </div>
                                    <div class="order_condition">
                                        <p class="order_on_processing">Started Cooking: 0/4</p>
                                        <p class="order_done">Done: 0/4</p>
                                    </div>
                                    <div class="order_condition">
                                        <p class="txt_16">Time Count: <span id="order_minute_count_112">34</span>:<span id="order_second_count_112">44</span> M</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scroll-element scroll-x scroll-scrolly_visible" style="">
                            <div class="scroll-element_outer">
                                <div class="scroll-element_size"></div>
                                <div class="scroll-element_track"></div>
                                <div class="scroll-bar" style="width: 0px;"></div>
                            </div>
                        </div>
                        <div class="scroll-element scroll-y scroll-scrolly_visible" style="">
                            <div class="scroll-element_outer">
                                <div class="scroll-element_size"></div>
                                <div class="scroll-element_track"></div>
                                <div class="scroll-bar" style="height: 0px; top: 6.51365px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ir_pa_b_w100" id="left_side_button_holder_absolute">
                        <button class="operation_button fix" id="single_order_details"><i class="fas fa-info-circle"></i> Order
              Details</button>

                        <div class="ir_flex_jc_pw94">
                            <button class="ir_calc_w98 no-need-for-waiter operation_button fix btn_tip" id="print_kot" data-tippy-content="Print KOT">
                <i class="fas fa-print"></i> KOT </button>

                            <button class="operation_button no-need-for-waiter ir_calc_w98_m5 btn_tip" id="print_bot" data-tippy-content="Print BOT">
                <i class="fas fa-print"></i> BOT </button>

                        </div>




                        <button class="operation_button fix  btn_tip full-width-for-waiter" id="create_bill_and_close" data-tippy-content="Print Bill for Customer Before Invoicing">
              Bill </button>
                        <button class="operation_button fix" id="print_invoice"><i class="fas fa-file-invoice"></i>
              Create Invoice</button>
                        <button class="operation_button fix" id="close_order_button"><i class="fas fa-times-circle"></i>
              Close Order</button>




                        <button class="operation_button fix" id="kitchen_status_button"><i class="fas fa-spinner"></i>
              Kitchen Status</button>
                    </div>

                </div>
            </div>
            <div class="main_middle" style="height: 600px;">
                <div class="main_top fix">
                    <!-- Top Btns -->
                    <div class="button_holder no-need-for-waiter">

                        <button class="selected__btn_c" data-selected="" id="dine_in_button">
              <i class="fal fa-table"></i> Dine In </button>

                        <button class="selected__btn_c" id="take_away_button"><i class="fal fa-shopping-bag"></i>
              Take Away</button>

                        <button class="selected__btn_c" id="delivery_button"><i class="fal fa-truck"></i>
              Delivery</button>

                        <button id="table_button"><i class="fal fa-table"></i> Table</button>

                    </div>

                    <div class="waiter_customer">
                        <div class="left_item">
                            <select id="select_waiter" class="select2 select_waiter ir_w92_ml select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                <option value="">Waiter</option>
                <!--This variable could not be escaped because this is html content-->
                <option value="24">GIGI</option>
                <option selected="" value="22">zak</option>
              </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 140.984px;"><span class="selection"><span
                    class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                    aria-expanded="false" tabindex="0" aria-labelledby="select2-select_waiter-container"><span
                      class="select2-selection__rendered" id="select2-select_waiter-container"
                      title="zak">zak</span><span class="select2-selection__arrow" role="presentation"><b
                        role="presentation"></b></span></span>
                            </span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                            <select id="walk_in_customer" class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                <option value="">Customer</option>
                <!--This variable could not be escaped because this is html content-->
                <option selected="" value="1">Walk-in Customer </option>
                <option value="6">adam 123</option>
                <option value="10">adam 0633833747</option>
                <option value="23">Akshay 09720959750</option>
                <option value="20">David 9999999999</option>
                <option value="19">drthdy 09720959750</option>
                <option value="24">fgh 01245205432</option>
                <option value="7">FoodPanda Order 1234</option>
                <option value="9">Glovo 555327474</option>
                <option value="13">jancuk 123</option>
                <option value="17">Manish 2225552255</option>
                <option value="21">mohit 8865912903</option>
                <option value="15">nadeem raza 09798697038</option>
                <option value="16">nadeem raza 09798697038</option>
                <option value="12">Raj Obrey 7815057500</option>
                <option value="22">Rohit 09720959750</option>
                <option value="14">srk 9999999</option>
                <option value="2">Sylvester Stallone 89798</option>
                <option value="5">Tataiana 00000</option>
                <option value="8">test 918432166666</option>
                <option value="11">Test +919876543210</option>
                <option value="18">Vinit 7552225525</option>
              </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 188.781px;"><span class="selection"><span
                    class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                    aria-expanded="false" tabindex="0" aria-labelledby="select2-walk_in_customer-container"><span
                      class="select2-selection__rendered" id="select2-walk_in_customer-container"
                      title="Walk-in Customer ">Walk-in Customer </span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span>
                            </span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                        </div>
                        <div class="separator">
                            <a href="javascript:void(0)" data-tippy-content="Edit Customer" class="header_menu_icon" id="edit_customer">
                                <i class="far fa-pencil-alt"></i>
                            </a>

                            <a href="javascript:void(0)" id="plus_button" class="header_menu_icon" data-tippy-content="Add Customer">
                                <i class="fal fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="main_center fix">
                    <div class="order_table_holder">
                        <div class="order_table_header_row">
                            <div class="single_header_column" id="single_order_item">Item </div>
                            <div class="single_header_column" id="single_order_price">Price </div>
                            <div class="single_header_column" id="single_order_qty">Qty</div>
                            <div class="single_header_column" id="single_order_discount">
                                Discount</div>
                            <div class="single_header_column" id="single_order_total">Total </div>
                        </div>
                        <div class="order_holder fix cardIsEmpty" style="height: 266px;">

                        </div>
                    </div>

                </div>
                <div id="bottom_absolute">
                    <div class="bottom__info">
                        <div class="footer__content">
                            <div class="item">
                                <input type="hidden" id="open_invoice_date_hidden" value="2021-10-12">
                                <div>Total Item: <span id="total_items_in_cart_with_quantity">0</span>
                                    <!-- <i data-tippy-content="Invoice Date" class="no-need-for-waiter fal fa-calendar-alt input-group date datepicker_custom calendar_irp" id="open_date_picker"></i> -->
                                </div>
                                <span id="total_items_in_cart" class="ir_display_none">0</span>
                            </div>
                            <div class="item">
                                <span>Sub Total:</span>
                                <span id="sub_total_show">0.00</span>
                                <span id="sub_total" class="ir_display_none">0.00</span>
                                <span id="total_item_discount" class="ir_display_none">0</span>
                                <span id="discounted_sub_total_amount" class="ir_display_none">0.00</span>
                            </div>
                            <div class="item no-need-for-waiter">
                                <span>
                  Discount: <i class="fal fa-edit" id="open_discount_modal"></i> <span
                    id="show_discount_amount">0.00</span>
                                </span>
                            </div>
                            <div class="item">
                                <span>Discount:</span>
                                <span id="all_items_discount">0.00</span>
                            </div>
                            <div class="item">
                                <span>Tax:</span>
                                <i class="fal fa-eye no-need-for-waiter" id="open_tax_modal"></i>
                                <span id="show_vat_modal">0.00</span>
                            </div>
                            <div class="item">
                                <span>Charge: <i class="fal fa-edit no-need-for-waiter" id="open_charge_modal"></i>
                  <span id="show_charge_amount">0.00</span></span>

                            </div>

                        </div>
                        <div class="payable">
                            <h1>Total Payable: <span id="total_payable">0.00</span></h1>
                        </div>
                        <div class="main_bottom">
                            <div class="button_group">

                                <button id="cancel_button"><i class="fas fa-times"></i>
                  Cancel</button>


                                <button id="hold_sale"><i class="fas fa-hand-rock"></i>
                  Draft</button>


                                <button id="direct_invoice" class="no-need-for-waiter"><i class="fas fa-file-invoice"></i>
                  <span id="place_edit_order_direct_invoice">Quick Invoice</span></button>


                                <button class="placeOrderSound" id="place_order_operation"><i class="fas fa-utensils"></i> <span
                    id="place_edit_order">Place
                    Order</span></button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="main_right" style="height: 600px;">
            <form autocomplete="off">
                <input type="text" name="search" id="search" placeholder="Name or Code or Category or VEG or BEV or BAR">
            </form>

            <div class="ir_pos_relative" id="main_item_holder">
                <div class="scroll-wrapper category-list scrollbar-macosx" style="position: relative;">
                    <div class="category-list scrollbar-macosx scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 232px;">
                        <ul class="list-of-item">
                            <li>
                                <a href="javascript:void(0)" id="button_category_show_all1">All</a>
                            </li>
                            <!--This variable could not be escaped because this is html content-->
                            <li><a href="javascript:void(0)" class="category_button" id="button_category_1">Chienese</a>
                            </li>
                            <li><a href="javascript:void(0)" class="category_button" id="button_category_2">Fast Food
                </a></li>
                            <li><a href="javascript:void(0)" class="category_button" id="button_category_8">Beverage</a>
                            </li>
                            <li><a href="javascript:void(0)" class="category_button" id="button_category_10">Mexican</a>
                            </li>
                            <li><a href="javascript:void(0)" class="category_button" id="button_category_11">Bengali</a>
                            </li>
                            <li><a href="javascript:void(0)" class="category_button" id="button_category_12">Italian</a>
                            </li>
                            <li><a href="javascript:void(0)" class="category_button" id="button_category_13">Thai
                  Food</a></li>
                            <li><a href="javascript:void(0)" class="category_button" id="button_category_14">Deserts
                </a></li>
                            <li><a href="javascript:void(0)" class="category_button" id="button_category_15">American</a></li>
                            <li><a href="javascript:void(0)" class="category_button" id="button_category_16">Indian</a>
                            </li>
                            <li><a href="javascript:void(0)" class="category_button" id="button_category_17">Japanese</a></li>
                            <li><a href="javascript:void(0)" class="category_button" id="button_category_19">Maxiacan</a></li>
                            <li><a href="javascript:void(0)" class="category_button" id="button_category_26">ცომეული</a>
                            </li>
                            <li><a href="javascript:void(0)" class="category_button" id="button_category_27">Seafoods</a></li>
                            <li><a href="javascript:void(0)" class="category_button" id="button_category_28">ACK
                  Menu</a></li>
                            <li><a href="javascript:void(0)" class="category_button" id="button_category_29">PIZZAS</a>
                            </li>
                            <li><a href="javascript:void(0)" class="category_button" id="button_category_30">BEBIDAS</a>
                            </li>
                        </ul>
                    </div>
                    <div class="scroll-element scroll-x scroll-scrolly_visible" style="">
                        <div class="scroll-element_outer">
                            <div class="scroll-element_size"></div>
                            <div class="scroll-element_track"></div>
                            <div class="scroll-bar" style="width: 0px;"></div>
                        </div>
                    </div>
                    <div class="scroll-element scroll-y scroll-scrolly_visible" style="">
                        <div class="scroll-element_outer">
                            <div class="scroll-element_size"></div>
                            <div class="scroll-element_track"></div>
                            <div class="scroll-bar" style="height: 86px; top: 30.8859px;"></div>
                        </div>
                    </div>
                </div>

                <div class="scroll-wrapper scrollbar-macosx" style="position: relative;">
                    <div class="scrollbar-macosx scroll-content scroll-scrolly_visible" id="secondary_item_holder" style="height: 335px; margin-bottom: 0px; margin-right: 0px; max-height: 232px;">
                        <div class="category_items" style="height: 300px;">
                            <div id="searched_item_found" class="specific_category_items_holder txt_9">
                                <div class="single_item animate__animated all_item_custom" data-veg_status="yes" data-beverage_status="no" id="item_25"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/c552ce0b62a2443fd11a975506727f0d.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Better Chocolate Chip Cookies">Better Chocolate Chip Cookies (09)
                                    </p>
                                    <p class="item_price">Price: 330.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_35"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/5bdb1980541eea0c61043072ef4227df.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Tuna Sashimi Pizza">Tuna Sashimi Pizza (019)
                                    </p>
                                    <p class="item_price">Price: 300.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="yes" id="item_26"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/dc2eea299d12725d334326c4950d5916.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Pepsi 250ml">Pepsi 250ml (010)</p>
                                    <p class="item_price">Price: 150.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="yes" data-beverage_status="no" id="item_21"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/d378bf1c443bf2872c5b18de33affd03.png" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Kimchi &quot; Pasta">Kimchi " Pasta (05)
                                    </p>
                                    <p class="item_price">Price: 300.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="yes" data-beverage_status="no" id="item_27"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/261e0c3ad308eb524a66dc66ae1d84aa.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Parsley Pasta">Parsley Pasta (011)</p>
                                    <p class="item_price">Price: 200.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_19"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/df80d58a211b0ec4e33470e76059a072.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Black Pepper Beef">Black Pepper Beef (03)
                                    </p>
                                    <p class="item_price">Price: 222.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_18"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/fc2b5da5c6c834dd1a693105db1c1d4c.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Fish Tacos">Fish Tacos (02)</p>
                                    <p class="item_price">Price: 444.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="yes" data-beverage_status="no" id="item_23"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/4cd4c41406dba0912df052ce7d1ede0e.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Hot And Sour Soup">Hot And Sour Soup (07)
                                    </p>
                                    <p class="item_price">Price: 300.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_42"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/3d94c53e68c6026dfcfe4b0c6c1bc982.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Best Eggs Benedict">Best Eggs Benedict (026)
                                    </p>
                                    <p class="item_price">Price: 400.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_40"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/02f34847d0dec974a58a1da02ce7600c.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Crispy Taco Rice">Crispy Taco Rice (024)
                                    </p>
                                    <p class="item_price">Price: 400.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_29"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/c5031bb8fdcfd6e4ea5195239f76004a.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Mongolian Beef">Mongolian Beef (013)</p>
                                    <p class="item_price">Price: 200.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="yes" id="item_28"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/90707408ce6bc4afa8a70c91f55c03cf.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Shochu Mojito">Shochu Mojito (012)</p>
                                    <p class="item_price">Price: 250.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="yes" id="item_31"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/3c1f1550866e03f5ade2d732de0566fb.jpeg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Coca cola 400ml">Coca cola 400ml (015)</p>
                                    <p class="item_price">Price: 333.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_41"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/0be8cf7ca471fef8d651a5b22ecbbc1c.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Shrimp Toast">Shrimp Toast (025)</p>
                                    <p class="item_price">Price: 400.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_39"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/7bc7cdd93212ccbc2e68222226cfc6ca.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Garlic Chive Shrimp Fried Rice With Garlic Chips">Garlic Chive Shrimp Fried Rice With Garlic Chips (023)</p>
                                    <p class="item_price">Price: 300.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="yes" id="item_73"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/9b245ce06d845ea6dc6474d289bb9c58.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="PIZZA OP">PIZZA OP (044)</p>
                                    <p class="item_price">Price: 85.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_22"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/2646509f5b6e29b8ed57ce8fb8c063c5.jpeg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Massaman Beef Curry">Massaman Beef Curry (06)
                                    </p>
                                    <p class="item_price">Price: 300.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_43"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/eeb3e821bcefe80803845ba5d6fdcb56.png" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Chicken Chow Mein">Chicken Chow Mein (027)
                                    </p>
                                    <p class="item_price">Price: 300.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_32"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/760d338b4a5c5c5ff6a18fea3ee058cd.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Beet And Onion Pickle Recipe">Beet And Onion Pickle Recipe (016)
                                    </p>
                                    <p class="item_price">Price: 111.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_74"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/image_thumb.png" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Test Food">Test Food (045)</p>
                                    <p class="item_price">Price: 110.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_37"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/5662554ae954069dd70c0cdcdcfc9ef1.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Fish And Chips">Fish And Chips (021)</p>
                                    <p class="item_price">Price: 250.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_20"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/6dd4d447e677d6d7f1683e390fa5cf22.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Orange Chicken">Orange Chicken (04)</p>
                                    <p class="item_price">Price: 300.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="yes" id="item_24"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/dccc40b268e185e0577bcf017cb5bf69.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Grape Escape">Grape Escape (08)</p>
                                    <p class="item_price">Price: 400.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="yes" data-beverage_status="no" id="item_38"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/3f1b1cd0bd50013e2734359bdebb68dc.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Wonton Soup">Wonton Soup (022)</p>
                                    <p class="item_price">Price: 200.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_58"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/image_thumb.png" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Burger">Burger ()</p>
                                    <p class="item_price">Price: 16.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_36"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/6fdac92df7221c396a53ce783cc51269.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Sweet Potato Bacon Salad">Sweet Potato Bacon Salad (020)</p>
                                    <p class="item_price">Price: 450.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_34"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/c8e2e893cb7b66db03eb0850355b5439.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Shaved Fennel Salad With Steak">Shaved Fennel Salad With Steak (018)</p>
                                    <p class="item_price">Price: 150.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_33"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/14f956595b796bd461cdec5cf9fc91a0.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Chicken Piccata">Chicken Piccata (017)</p>
                                    <p class="item_price">Price: 500.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_56"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/37f053995752374d1cb2150a4ebb737c.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Kottu">Kottu (027)</p>
                                    <p class="item_price">Price: 550.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_57"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/image_thumb.png" alt="" width="141">
                                    <p class="item_name" data-tippy-content="test test">test test (028)</p>
                                    <p class="item_price">Price: 200.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_59"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/image_thumb.png" alt="" width="141">
                                    <p class="item_name" data-tippy-content="TATIANA &amp;lt;3">TATIANA &amp;lt;3 (030)
                                    </p>
                                    <p class="item_price">Price: 300.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="yes" data-beverage_status="no" id="item_60"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/f0a25b5517dad3c806464c876719b5c1.jpeg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Todas">Todas (031)</p>
                                    <p class="item_price">Price: 12.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="yes" data-beverage_status="no" id="item_67"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/77c3e97cc00a63773fd1e182c51af10c.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Whiskey22">Whiskey22 (038)</p>
                                    <p class="item_price">Price: 22.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_71"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/50208213c2431608f22f323a4c4297ca.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="test">test (042)</p>
                                    <p class="item_price">Price: 200.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div class="single_item animate__animated all_item_custom" data-veg_status="no" data-beverage_status="no" id="item_30"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/cd263fe536703168cca3ee28013eb385.jpg" alt="" width="141">
                                    <p class="item_name" data-tippy-content="Whisky">Whisky (014)</p>
                                    <p class="item_price">Price: 200.00</p><span class="item_vat_percentage ir_display_none">0</span>
                                </div>
                                <div></div>
                            </div>
                            <!--This variable could not be escaped because this is html content-->
                            <div id="category_1" class="specific_category_items_holder" style="display: none;">
                                <div class="single_item animate__animated animate__flipInX" id="item_21"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/d378bf1c443bf2872c5b18de33affd03.png" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_21">300.00</span></p>
                                    <p class="item_name" data-tippy-content="Kimchi &quot; Pasta (05">Kimchi " Pasta (05)
                                    </p>
                                </div>
                                <div class="single_item animate__animated animate__flipInX" id="item_25"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/c552ce0b62a2443fd11a975506727f0d.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_25">330.00</span></p>
                                    <p class="item_name" data-tippy-content="Better Chocolate Chip Cookies (09">Better Chocolate Chip Cookies (09)</p>
                                </div>
                                <div class="single_item animate__animated animate__flipInX" id="item_19"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/df80d58a211b0ec4e33470e76059a072.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_19">222.00</span></p>
                                    <p class="item_name" data-tippy-content="Black Pepper Beef (03">Black Pepper Beef (03)
                                    </p>
                                </div>
                                <div class="single_item animate__animated animate__flipInX" id="item_43"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/eeb3e821bcefe80803845ba5d6fdcb56.png" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_43">300.00</span></p>
                                    <p class="item_name" data-tippy-content="Chicken Chow Mein (027">Chicken Chow Mein (027)
                                    </p>
                                </div>
                                <div class="single_item animate__animated animate__flipInX" id="item_41"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/0be8cf7ca471fef8d651a5b22ecbbc1c.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_41">400.00</span></p>
                                    <p class="item_name" data-tippy-content="Shrimp Toast (025">Shrimp Toast (025)</p>
                                </div>
                                <div class="single_item animate__animated animate__flipInX" id="item_40"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/02f34847d0dec974a58a1da02ce7600c.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_40">400.00</span></p>
                                    <p class="item_name" data-tippy-content="Crispy Taco Rice (024">Crispy Taco Rice (024)
                                    </p>
                                </div>
                                <div class="single_item animate__animated animate__flipInX" id="item_22"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/2646509f5b6e29b8ed57ce8fb8c063c5.jpeg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_22">300.00</span></p>
                                    <p class="item_name" data-tippy-content="Massaman Beef Curry (06">Massaman Beef Curry (06)</p>
                                </div>
                            </div>
                            <div id="category_10" class="specific_category_items_holder" style="display: none;">
                                <div class="single_item animate__animated animate__flipInX" id="item_37"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/5662554ae954069dd70c0cdcdcfc9ef1.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_37">250.00</span></p>
                                    <p class="item_name" data-tippy-content="Fish And Chips (021">Fish And Chips (021)
                                    </p>
                                </div>
                                <div class="single_item animate__animated animate__flipInX" id="item_20"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/6dd4d447e677d6d7f1683e390fa5cf22.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_20">300.00</span></p>
                                    <p class="item_name" data-tippy-content="Orange Chicken (04">Orange Chicken (04)</p>
                                </div>
                            </div>
                            <div id="category_12" class="specific_category_items_holder" style="display: none;">
                                <div class="single_item animate__animated animate__flipInX" id="item_29"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/c5031bb8fdcfd6e4ea5195239f76004a.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_29">200.00</span></p>
                                    <p class="item_name" data-tippy-content="Mongolian Beef (013">Mongolian Beef (013)
                                    </p>
                                </div>
                                <div class="single_item animate__animated animate__flipInX" id="item_35"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/5bdb1980541eea0c61043072ef4227df.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_35">300.00</span></p>
                                    <p class="item_name" data-tippy-content="Tuna Sashimi Pizza (019">Tuna Sashimi Pizza (019)
                                    </p>
                                </div>
                                <div class="single_item animate__animated animate__flipInX" id="item_23"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/4cd4c41406dba0912df052ce7d1ede0e.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_23">300.00</span></p>
                                    <p class="item_name" data-tippy-content="Hot And Sour Soup (07">Hot And Sour Soup (07)
                                    </p>
                                </div>
                            </div>
                            <div id="category_13" class="specific_category_items_holder" style="display: none;">
                                <div class="single_item animate__animated animate__flipInX" id="item_24"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/dccc40b268e185e0577bcf017cb5bf69.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_24">400.00</span></p>
                                    <p class="item_name" data-tippy-content="Grape Escape (08">Grape Escape (08)</p>
                                </div>
                            </div>
                            <div id="category_14" class="specific_category_items_holder" style="display: none;">
                                <div class="single_item animate__animated animate__flipInX" id="item_27"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/261e0c3ad308eb524a66dc66ae1d84aa.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_27">200.00</span></p>
                                    <p class="item_name" data-tippy-content="Parsley Pasta (011">Parsley Pasta (011)</p>
                                </div>
                                <div class="single_item animate__animated animate__flipInX" id="item_32"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/760d338b4a5c5c5ff6a18fea3ee058cd.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_32">111.00</span></p>
                                    <p class="item_name" data-tippy-content="Beet And Onion Pickle Recipe (016">Beet And Onion Pickle Recipe (016)</p>
                                </div>
                            </div>
                            <div id="category_15" class="specific_category_items_holder" style="display: none;">
                                <div class="single_item animate__animated animate__flipInX" id="item_38"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/3f1b1cd0bd50013e2734359bdebb68dc.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_38">200.00</span></p>
                                    <p class="item_name" data-tippy-content="Wonton Soup (022">Wonton Soup (022)</p>
                                </div>
                                <div class="single_item animate__animated animate__flipInX" id="item_28"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/90707408ce6bc4afa8a70c91f55c03cf.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_28">250.00</span></p>
                                    <p class="item_name" data-tippy-content="Shochu Mojito (012">Shochu Mojito (012)</p>
                                </div>
                                <div class="single_item animate__animated animate__flipInX" id="item_58"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/image_thumb.png" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_58">16.00</span></p>
                                    <p class="item_name" data-tippy-content="Burger (">Burger ()</p>
                                </div>
                                <div class="single_item animate__animated animate__flipInX" id="item_36"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/6fdac92df7221c396a53ce783cc51269.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_36">450.00</span></p>
                                    <p class="item_name" data-tippy-content="Sweet Potato Bacon Salad (020">Sweet Potato Bacon Salad (020)
                                    </p>
                                </div>
                                <div class="single_item animate__animated animate__flipInX" id="item_18"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/fc2b5da5c6c834dd1a693105db1c1d4c.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_18">444.00</span></p>
                                    <p class="item_name" data-tippy-content="Fish Tacos (02">Fish Tacos (02)</p>
                                </div>
                            </div>
                            <div id="category_16" class="specific_category_items_holder" style="display: none;">
                                <div class="single_item animate__animated animate__flipInX" id="item_34"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/c8e2e893cb7b66db03eb0850355b5439.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_34">150.00</span></p>
                                    <p class="item_name" data-tippy-content="Shaved Fennel Salad With Steak (018">Shaved Fennel Salad With Steak (018)</p>
                                </div>
                                <div class="single_item animate__animated animate__flipInX" id="item_33"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/14f956595b796bd461cdec5cf9fc91a0.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_33">500.00</span></p>
                                    <p class="item_name" data-tippy-content="Chicken Piccata (017">Chicken Piccata (017)
                                    </p>
                                </div>
                                <div class="single_item animate__animated animate__flipInX" id="item_56"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/37f053995752374d1cb2150a4ebb737c.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_56">550.00</span></p>
                                    <p class="item_name" data-tippy-content="Kottu (027">Kottu (027)</p>
                                </div>
                            </div>
                            <div id="category_17" class="specific_category_items_holder" style="display: none;">
                                <div class="single_item animate__animated animate__flipInX" id="item_57"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/image_thumb.png" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_57">200.00</span></p>
                                    <p class="item_name" data-tippy-content="test test (028">test test (028)</p>
                                </div>
                                <div class="single_item animate__animated animate__flipInX" id="item_42"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/3d94c53e68c6026dfcfe4b0c6c1bc982.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_42">400.00</span></p>
                                    <p class="item_name" data-tippy-content="Best Eggs Benedict (026">Best Eggs Benedict (026)
                                    </p>
                                </div>
                            </div>
                            <div id="category_19" class="specific_category_items_holder" style="display: none;">
                                <div class="single_item animate__animated animate__flipInX" id="item_59"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/image_thumb.png" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_59">300.00</span></p>
                                    <p class="item_name" data-tippy-content="TATIANA &amp;lt;3 (030">TATIANA &amp;lt;3 (030)
                                    </p>
                                </div>
                                <div class="single_item animate__animated animate__flipInX" id="item_60"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/f0a25b5517dad3c806464c876719b5c1.jpeg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_60">12.00</span></p>
                                    <p class="item_name" data-tippy-content="Todas (031">Todas (031)</p>
                                </div>
                            </div>
                            <div id="category_2" class="specific_category_items_holder" style="display: none;">
                                <div class="single_item animate__animated animate__flipInX" id="item_39"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/7bc7cdd93212ccbc2e68222226cfc6ca.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_39">300.00</span></p>
                                    <p class="item_name" data-tippy-content="Garlic Chive Shrimp Fried Rice With Garlic Chips (023">
                                        Garlic Chive Shrimp Fried Rice With Garlic Chips (023)</p>
                                </div>
                            </div>
                            <div id="category_27" class="specific_category_items_holder" style="display: none;">
                                <div class="single_item animate__animated animate__flipInX" id="item_73"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/9b245ce06d845ea6dc6474d289bb9c58.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_73">85.00</span></p>
                                    <p class="item_name" data-tippy-content="PIZZA OP (044">PIZZA OP (044)</p>
                                </div>
                                <div class="single_item animate__animated animate__flipInX" id="item_67"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/77c3e97cc00a63773fd1e182c51af10c.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_67">22.00</span></p>
                                    <p class="item_name" data-tippy-content="Whiskey22 (038">Whiskey22 (038)</p>
                                </div>
                            </div>
                            <div id="category_28" class="specific_category_items_holder" style="display: none;">
                                <div class="single_item animate__animated animate__flipInX" id="item_71"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/50208213c2431608f22f323a4c4297ca.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_71">200.00</span></p>
                                    <p class="item_name" data-tippy-content="test (042">test (042)</p>
                                </div>
                            </div>
                            <div id="category_29" class="specific_category_items_holder" style="display: none;">
                                <div class="single_item animate__animated animate__flipInX" id="item_74"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/image_thumb.png" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_74">110.00</span></p>
                                    <p class="item_name" data-tippy-content="Test Food (045">Test Food (045)</p>
                                </div>
                            </div>
                            <div id="category_30" class="specific_category_items_holder" style="display: none;">
                                <div class="single_item animate__animated animate__flipInX" id="item_31"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/3c1f1550866e03f5ade2d732de0566fb.jpeg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_31">333.00</span></p>
                                    <p class="item_name" data-tippy-content="Coca cola 400ml (015">Coca cola 400ml (015)
                                    </p>
                                </div>
                            </div>
                            <div id="category_8" class="specific_category_items_holder" style="display: none;">
                                <div class="single_item animate__animated animate__flipInX" id="item_26"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/dc2eea299d12725d334326c4950d5916.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_26">150.00</span></p>
                                    <p class="item_name" data-tippy-content="Pepsi 250ml (010">Pepsi 250ml (010)</p>
                                </div>
                                <div class="single_item animate__animated animate__flipInX" id="item_30"><img src="http://dsbeta.work/demo/irestora_plus_multi_outlet/images/cd263fe536703168cca3ee28013eb385.jpg" alt="" width="142">
                                    <p class="item_price">Price: <span id="price_30">200.00</span></p>
                                    <p class="item_name" data-tippy-content="Whisky (014">Whisky (014)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scroll-element scroll-x scroll-scrolly_visible" style="">
                        <div class="scroll-element_outer">
                            <div class="scroll-element_size"></div>
                            <div class="scroll-element_track"></div>
                            <div class="scroll-bar" style="width: 0px;"></div>
                        </div>
                    </div>
                    <div class="scroll-element scroll-y scroll-scrolly_visible" style="">
                        <div class="scroll-element_outer">
                            <div class="scroll-element_size"></div>
                            <div class="scroll-element_track"></div>
                            <div class="scroll-bar" style="height: 28px; top: 0px;"></div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>
