<section class="main-content-wrapper">
  <section class="content-header">
    <div class="row">
      <div class="col-md-6" [hidden]="isShow==true">
        <h2 class="top-left-header">Food Menu Categories </h2>
        <input type="hidden" class="datatable_name" data-title="Food Menu Categories" data-id_name="datatable">
      </div>
      <div class="col-md-6" [hidden]="isShow==true">
        <a class="btn_list m-right bg-blue-btn btn" (click)=addNewFoodCategory() >
          <i data-feather="plus"></i> Add Food Menu Category</a>
      </div>
    </div>
  </section>
  <div class="box-wrapper" [hidden]="isShow==true">
    <!-- general form elements -->
    <div class="table-box">
      <!-- /.box-header -->
      <div class="table-responsive">
        <table id="datatable" class="table table-striped">
          <thead>
            <tr>
              <th class="ir_w_1"> SN</th>
              <th class="ir_w_28">Category Name</th>
              <th class="ir_w_28">Description</th>
              <th class="ir_w_17">Added By</th>
              <th class="ir_w_1">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="ir_txt_center">14</td>
              <td>Seafoods</td>
              <td></td>
              <td>Admin User</td>
              <td class="ir_txt_center ir_txt_center">
                <div class="btn-group actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                    </li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ir_txt_center">13</td>
              <td>ცომეული</td>
              <td></td>
              <td>GIGI</td>
              <td class="ir_txt_center ir_txt_center">
                <div class="btn-group actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                    </li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ir_txt_center">12</td>
              <td>Maxiacan</td>
              <td>Maxican</td>
              <td>Admin User</td>
              <td class="ir_txt_center ir_txt_center">
                <div class="btn-group actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                    </li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ir_txt_center">11</td>
              <td>Japanese</td>
              <td>Japanese</td>
              <td>Admin User</td>
              <td class="ir_txt_center ir_txt_center">
                <div class="btn-group actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                    </li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ir_txt_center">10</td>
              <td>Indian</td>
              <td>Indian</td>
              <td>Admin User</td>
              <td class="ir_txt_center ir_txt_center">
                <div class="btn-group actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                    </li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ir_txt_center">5</td>
              <td>Bengali</td>
              <td>Bengali food</td>
              <td>Admin User</td>
              <td class="ir_txt_center ir_txt_center">
                <div class="btn-group actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                    </li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ir_txt_center">4</td>
              <td>Mexican</td>
              <td>tacos</td>
              <td>Admin User</td>
              <td class="ir_txt_center ir_txt_center">
                <div class="btn-group actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                    </li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ir_txt_center">3</td>
              <td>Beverage</td>
              <td>Beverage</td>
              <td>Admin User</td>
              <td class="ir_txt_center ir_txt_center">
                <div class="btn-group actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                    </li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ir_txt_center">2</td>
              <td>Fast Food </td>
              <td>Fast Food</td>
              <td>Admin User</td>
              <td class="ir_txt_center ir_txt_center">
                <div class="btn-group actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                    </li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ir_txt_center">1</td>
              <td>Chienese</td>
              <td>Chienese</td>
              <td>Admin User</td>
              <td class="ir_txt_center ir_txt_center">
                <div class="btn-group actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                    </li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</section>


  <!-- Main content -->
  <section class="main-content-wrapper" [hidden]="isShow==false">
    <section class="content-header">
      <h3 class="top-left-header">
        Add Food Menu Category </h3>
    </section>
    <div class="box-wrapper">
      <div class="table-box">
        <!-- form start -->
        <form [formGroup]="foodCategoryForm" (ngSubmit)="onFoodCategorySubmit()">
          <div>
            <div class="row">
              <div class="col-sm-12 mb-2 col-md-6">

                <div class="form-group">
                  <label>Category Name <span class="required_star">*</span></label>
                  <input tabindex="1" type="text" formControlName="categoryname" class="form-control" placeholder="Category Name"
                    value="">
                </div>
              </div>
              <div class="col-sm-12 mb-2 col-md-6">

                <div class="form-group">
                  <label>Description</label>
                  <input tabindex="2" type="text" formControlName="description" class="form-control" placeholder="Description"
                    value="">
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="row my-2">
            <div class="col-sm-12 col-md-2 mb-2">
              <button type="submit" name="submit" value="submit" class="btn bg-blue-btn w-100">Submit</button>
            </div>
            <div class="col-sm-12 col-md-2 mb-2">
              <a class="btn bg-blue-btn w-100" (click)=addNewFoodCategory()>
                Back </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section> <!-- /.content -->
