<section class="main-content-wrapper">
  <section class="content-header">
    <div class="row">
      <div class="col-md-2" [hidden]="isShow==true">
        <h2 class="top-left-header">Modifiers </h2>
        <input type="hidden" class="datatable_name" data-title="Modifiers" data-id_name="datatable">
      </div>
      <div class="col-md-10" [hidden]="isShow==true">
        <a class="btn bg-blue-btn m-right btn_list" (click)=addNewModifier()>
          <i data-feather="plus"></i> Add Modifier
        </a>
      </div>
    </div>
  </section>


  <div class="box-wrapper" [hidden]="isShow==true">
    <!-- general form elements -->
    <div class="table-box">
      <!-- /.box-header -->
      <div class="table-responsive">
        <table id="datatable" class="table table-striped">
          <thead>
            <tr>
              <th class="ir_w_1">SN</th>
              <th class="ir_w_25">Name</th>
              <th class="ir_w_13">Price</th>
              <th class="ir_w_13">Description</th>
              <th class="ir_w_13">Total Ingredients</th>
              <th class="ir_w_18">Added By</th>
              <th class="ir_w_1 ir_txt_center not-export-col">Actions</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td class="ir_txt_center">7</td>
              <td>AA</td>
              <td>5.00</td>
              <td>Test</td>
              <td class="ir_txt_center">2</td>
              <td>Admin User</td>
              <td class="ir_txt_center">
                <div class="btn-group  actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-eye tiny-icon"></i>View Details</a></li>
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a></li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>

            <tr>
              <td class="ir_txt_center">6</td>
              <td>Seasoned Fries</td>
              <td>4.00</td>
              <td></td>
              <td class="ir_txt_center">3</td>
              <td>Admin User</td>
              <td class="ir_txt_center">
                <div class="btn-group  actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-eye tiny-icon"></i>View Details</a></li>
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a></li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>

            <tr>
              <td class="ir_txt_center">5</td>
              <td>Onion Ring</td>
              <td>4.00</td>
              <td></td>
              <td class="ir_txt_center">2</td>
              <td>Admin User</td>
              <td class="ir_txt_center">
                <div class="btn-group  actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-eye tiny-icon"></i>View Details</a></li>
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a></li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>

            <tr>
              <td class="ir_txt_center">4</td>
              <td>Beet Salada</td>
              <td>3.00</td>
              <td></td>
              <td class="ir_txt_center">2</td>
              <td>Admin User</td>
              <td class="ir_txt_center">
                <div class="btn-group  actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-eye tiny-icon"></i>View Details</a></li>
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a></li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>

            <tr>
              <td class="ir_txt_center">3</td>
              <td>Caeser Salad</td>
              <td>3.70</td>
              <td></td>
              <td class="ir_txt_center">2</td>
              <td>Admin User</td>
              <td class="ir_txt_center">
                <div class="btn-group  actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-eye tiny-icon"></i>View Details</a></li>
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a></li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>

            <tr>
              <td class="ir_txt_center">2</td>
              <td>House Salad</td>
              <td>2.25</td>
              <td></td>
              <td class="ir_txt_center">4</td>
              <td>Admin User</td>
              <td class="ir_txt_center">
                <div class="btn-group  actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-eye tiny-icon"></i>View Details</a></li>
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a></li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>

            <tr>
              <td class="ir_txt_center">1</td>
              <td>sharmaPlus</td>
              <td>100.00</td>
              <td></td>
              <td class="ir_txt_center">3</td>
              <td>Admin User</td>
              <td class="ir_txt_center">
                <div class="btn-group  actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-eye tiny-icon"></i>View Details</a></li>
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a></li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</section>

<!-- Content Wrapper. Contains page content -->

  <!-- Main content -->
  <section class="main-content-wrapper" [hidden]="isShow==false">
    <section class="main-content-wrapper">
      <section class="content-header">
        <h3 class="top-left-header">
          Add Modifier </h3>
      </section>
      <div class="box-wrapper">
        <div class="table-box">
          <form (ngSubmit)="onModifierSubmit()" [formGroup]="modifierForm">
            <div>
              <div class="row">
                <div class="col-sm-12 mb-2 col-md-4">
                  <div class="form-group">
                    <label>Name <span class="required_star">*</span></label>
                    <input tabindex="1" type="text" id="name" formControlName="name" class="form-control" placeholder="Name"
                      value="">
                  </div>
                  <div class="">
                    <p id="name_err_msg"></p>
                  </div>
                </div>
                <div class="col-sm-12 mb-2 col-md-4">
                  <div class="form-group">
                    <label>Price <span class="required_star">*</span></label>
                    <input tabindex="4" type="text" onfocus="this.select();" id="price" formControlName="price"
                      class="form-control integerchk" placeholder="Price" value="">
                  </div>


                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 mb-2 col-md-4">
                  <div class="form-group">
                    <label>Ingredient Consumptions <span class="required_star">*</span></label>
                    <select tabindex="5" class="form-control select2  ir_w_100" formControlName="ingredientConsumption"
                      name="ingredient_id" id="ingredient_id">
                      <option value="">Select</option>
                      <option value="">
                        Ahi tuna(IG-099)</option>
                      <option value="">
                        All-purpose flour(IG-106)</option>
                      <option value="">
                        Allspice(IG-038)</option>
                    </select>
                  </div>
                  <div class="">
                    <p id="ingredient_id_err_msg"></p>
                  </div>
                </div>
                <div class="col-sm-12 mb-2 col-md-3">
                  <div class="hidden-xs hidden-sm mt-2">&nbsp;</div>
                  <!-- <a class="btn bg-red-btn" class="ir_bg_mt5" data-bs-toggle="modal" data-bs-target="#noticeModal">
                    Read Me First</a> -->
                </div>
                <div class="clearfix"></div>
                <div class="hidden-lg hidden-sm">&nbsp;</div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="table-responsive" id="ingredient_consumption_table">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>SN</th>
                          <th>Ingredient</th>
                          <th>Consumption</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label>Description</label>
                    <textarea tabindex="3" class="form-control" rows="2" id="description" formControlName="description"
                      placeholder="Enter ..."></textarea>
                  </div>
                  <div class="">
                    <p id="description_err_msg"></p>
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-sm-12 col-md-4">
                  <div class="form-group">
                    <label>VAT</label>
                    <table class="ir_w_100">
                      <tr>
                        <td>
                          <input tabindex="1" type="hidden" name="tax_field_id[]" value="1">
                          <input tabindex="1" type="hidden" name="tax_field_company_id[]" value="1">
                          <input tabindex="1" type="hidden" name="tax_field_name[]" value="VAT">
                          <input tabindex="1" type="text" name="tax_field_percentage[]" class="form-control integerchk"
                            placeholder="VAT" value="5">
                        </td>
                        <td class="txt_27">%</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="row mt-3">
                <div class="col-sm-12 col-md-2 mb-2">
                  <button type="submit" name="submit" value="submit" class="btn bg-blue-btn w-100">Submit</button>
                </div>
                <div class="col-sm-12 col-md-2 mb-2">
                  <a class="btn bg-blue-btn w-100" (click)="addNewModifier()">
                    Back </a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

