<section class="main-content-wrapper">
  <section class="content-header">
    <div class="row">
      <div class="col-md-6" [hidden]="isShow==true">
        <h2 class="top-left-header">Units </h2>
        <input type="hidden" class="datatable_name" data-title="Units" data-id_name="datatable">
      </div>
      <div class="col-md-6" [hidden]="isShow==true">
        <a class="btn_list m-right btn bg-blue-btn" (click)=addNewUnits()>
          <i data-feather="plus"></i> Add Unit </a>
      </div>
    </div>
  </section>


  <div class="box-wrapper" [hidden]="isShow==true">
    <div class="table-box">
      <!-- /.box-header -->
      <div class="table-responsive">
        <table id="datatable" class="table table-striped">
          <thead>
            <tr>
              <th class="ir_w_1"> SN</th>
              <th class="ir_w_25">Unit Name</th>
              <th class="ir_w_16">Description</th>
              <th class="ir_w_1 ir_txt_center not-export-col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="ir_txt_center">7</td>
              <td>Karton</td>
              <td>1 karton 50kg</td>
              <td class="ir_txt_center">
                <div class="btn-group  actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                    </li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ir_txt_center">6</td>
              <td>Bag</td>
              <td>1 Bag 27pcs</td>
              <td class="ir_txt_center">
                <div class="btn-group  actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                    </li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ir_txt_center">5</td>
              <td>ml</td>
              <td>Mili Liter</td>
              <td class="ir_txt_center">
                <div class="btn-group  actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                    </li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ir_txt_center">4</td>
              <td>g</td>
              <td>gram</td>
              <td class="ir_txt_center">
                <div class="btn-group  actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                    </li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ir_txt_center">3</td>
              <td>Pcs</td>
              <td>Piece</td>
              <td class="ir_txt_center">
                <div class="btn-group  actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                    </li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ir_txt_center">2</td>
              <td>L</td>
              <td>Liter</td>
              <td class="ir_txt_center">
                <div class="btn-group  actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                    </li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ir_txt_center">1</td>
              <td>Kg</td>
              <td>Kilo Gram</td>
              <td class="ir_txt_center">
                <div class="btn-group  actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                    </li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>

  </div>
</section>
<div class="content-wrapper" [hidden]="isShow==false">
  <!-- Main content -->
  <section class="main-content-wrapper">
    <section class="content-header">
      <h3 class="top-left-header">
        Add Unit </h3>
    </section>


    <div class="box-wrapper">
      <!-- general form elements -->
      <div class="table-box">
        <!-- form start -->
        <form [formGroup]="ingredientUnitForm" (ngSubmit)="onIngredientUnitSubmit()">
          <div>
            <div class="row">
              <div class="col-sm-12 my-2 col-md-6">

                <div class="form-group">
                  <label>Unit Name <span class="required_star">*</span></label>
                  <input tabindex="1" type="text" formControlName="categoryname" class="form-control" placeholder="Unit Name"
                    value="">
                </div>

              </div>
              <div class="col-sm-12 my-2 col-md-6">

                <div class="form-group">
                  <label>Description</label>
                  <input tabindex="2" formControlName="description" class="form-control" value="" placeholder="Description" />
                </div>

              </div>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="row mt-2">
            <div class="col-sm-12 col-md-2 mb-2">
              <button type="submit" name="submit" value="submit" class="btn bg-blue-btn w-100">Submit</button>
            </div>
            <div class="col-sm-12 col-md-2 mb-2">
              <a class="btn bg-blue-btn w-100" (click)=addNewUnits()>
                Back</a>
            </div>


          </div>
        </form>
      </div>
    </div>


  </section> <!-- /.content -->
</div>
