<section class="main-content-wrapper">
  <section class="content-header">
    <div class="row">
      <div class="col-md-6" [hidden]="isShow==true">
        <h2 class="top-left-header">Ingredients </h2>
        <input type="hidden" class="datatable_name" data-title="Ingredients" data-id_name="datatable">
      </div>
      <div class="col-md-6" [hidden]="isShow==true">

        <div class="btn_list m-right d-flex">

          <a class="btn bg-blue-btn m-right" (click)=addNewIngredient()>
            <i data-feather="plus"></i> Add Ingredient </a>

          <a class="btn bg-blue-btn">
            <i data-feather="upload"></i> Upload Ingredient </a>

        </div>
      </div>
    </div>
  </section>
  <div class="box-wrapper"  [hidden]="isShow==true">
    <!-- general form elements -->
    <div class="table-box">
      <!-- /.box-header -->
      <div class="table-responsive">
        <table id="datatable" class="table">
          <thead>
            <tr>
              <th class="ir_w_1"> SN</th>
              <th class="ir_w_6">Code</th>
              <th class="ir_w_22">Name</th>
              <th class="ir_w_16">Category</th>
              <th class="ir_w_12">Purchase Price</th>
              <th class="ir_w_15">Alert Quantity/Amount</th>
              <th class="ir_w_4">Unit</th>
              <th class="ir_w_15">Added By</th>
              <th class="ir_w_1 ir_txt_center not-export-col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="ir_txt_center">138</td>
              <td>138</td>
              <td>Tepung bubuk ACK</td>
              <td>Others</td>
              <td>
                5.00</td>
              <td>10.00</td>
              <td>Kg</td>
              <td>Admin User</td>
              <td class="ir_txt_center">
                <div class="btn-group  actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a></li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ir_txt_center">137</td>
              <td>137</td>
              <td>Ayam potong</td>
              <td>Meat</td>
              <td>
                10.00</td>
              <td>5.00</td>
              <td>Kg</td>
              <td>Admin User</td>
              <td class="ir_txt_center">
                <div class="btn-group  actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a></li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ir_txt_center">136</td>
              <td>136</td>
              <td>Ingredient test 123</td>
              <td>Oil</td>
              <td>
                1000.00</td>
              <td>5000.00</td>
              <td>g</td>
              <td>Admin User</td>
              <td class="ir_txt_center">
                <div class="btn-group  actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a></li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ir_txt_center">135</td>
              <td>135</td>
              <td>Pepsi</td>
              <td>Others</td>
              <td>
                95.00</td>
              <td>500.00</td>
              <td>ml</td>
              <td>Admin User</td>
              <td class="ir_txt_center">
                <div class="btn-group  actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a></li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ir_txt_center">134</td>
              <td></td>
              <td>კეჩუპი / Ketchup</td>
              <td>Fish</td>
              <td>
                5.00</td>
              <td>1.00</td>
              <td>Kg</td>
              <td>GIGI</td>
              <td class="ir_txt_center">
                <div class="btn-group  actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a></li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ir_txt_center">2</td>
              <td>IG-002</td>
              <td>Onion</td>
              <td>Spicery</td>
              <td>
                80.00</td>
              <td>3.00</td>
              <td>g</td>
              <td>Admin User</td>
              <td class="ir_txt_center">
                <div class="btn-group  actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a></li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ir_txt_center">1</td>
              <td>IG-001</td>
              <td>Soyabin Oil </td>
              <td>Oil</td>
              <td>
                110.00</td>
              <td>5.00</td>
              <td>g</td>
              <td>Admin User</td>
              <td class="ir_txt_center">
                <div class="btn-group  actionDropDownBtn">
                  <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                    <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a></li>
                    <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</section>

<div class="content-wrapper" [hidden]="isShow==false">
  <!-- Main content -->
  <section class="main-content-wrapper">
    <section class="content-header">
      <h3 class="top-left-header">
        Add Ingredient </h3>
    </section>

    <div class="box-wrapper">
      <div class="table-box">
        <!-- form start -->
        <form [formGroup]="ingredientForm" (ngSubmit)="onIgredientSubmit()">
          <div>
            <div class="row">
              <div class="col-sm-12 mb-2 col-md-6">

                <div class="form-group">
                  <label>Name <span class="required_star">*</span></label>
                  <input tabindex="1" type="text" formControlName="name" class="form-control" placeholder="Name" value="">
                </div>
                <div class="form-group">
                  <label>Category <span class="required_star">*</span></label>
                  <select tabindex="2" class="form-control select2 ir_w_100" formControlName="category">
                    <option value="">Select</option>
                    <option value="47">
                      BABAG</option>
                    <option value="50">
                      Cereal</option>
                    <option value="4">
                      Fish</option>
                    <option value="9">
                      Fruit</option>
                    <option value="3">
                      Meat</option>
                    <option value="1">
                      Oil</option>
                    <option value="8">
                      Others</option>
                    <option value="51">
                      Pulses</option>
                    <option value="6">
                      Sea Fish</option>
                    <option value="7">
                      Spicery</option>
                    <option value="2">
                      Vegetable</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Unit <span class="required_star">*</span></label>
                  <select tabindex="3" class="form-control select2 ir_w_100" formControlName="unit">
                    <option value="">Select</option>
                    <option value="10">Bag </option>
                    <option value="4">g </option>
                    <option value="11">Karton </option>
                    <option value="1">Kg </option>
                    <option value="2">L </option>
                    <option value="5">ml </option>
                    <option value="3">Pcs </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-12 mb-2 col-md-6">

                <div class="form-group">
                  <label>Purchase Price <span class="required_star">*</span></label>
                  <div class="d-flex">
                    <input tabindex="4" type="text" formControlName="purchaseprice" class="form-control integerchk"
                      placeholder="Purchase Price" value="">

                    <div class="tooltip_custom">
                      <i class="fa fa-question fa-2x" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="You can change this price in purchase form" class="form_question"></i>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Alert Qty <span class="required_star">*</span></label>
                  <input tabindex="5" type="text" formControlName="alertqty" class="form-control integerchk"
                    placeholder="Alert Qty" value="">
                </div>

                <div class="form-group">
                  <label>Code</label>
                  <input tabindex="6" type="text" formControlName="code" class="form-control" placeholder="Code" value="139">
                </div>
              </div>

            </div>
          </div>
          <!-- /.box-body -->

          <div class="row mt-2">
            <div class="col-sm-12 col-md-2 mb-2">
              <button type="submit" name="submit" value="submit" class="btn bg-blue-btn w-100">Submit</button>
            </div>
            <div class="col-sm-12 col-md-2 mb-2">
              <a class="btn bg-blue-btn w-100" (click)=addNewIngredient()>
                Back </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section> <!-- /.content -->
</div>
