<div class="login-auth-page">
  <div class="row h-100">

    <div class="d-none d-lg-flex col-lg-8 left-item align-items-center p-5">
      <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
        <img class="img-fluid"
          src="http://dsbeta.work/demo/irestora_plus_multi_outlet/frequent_changing/newDesign/img/login.svg"
          alt="Login V2">
      </div>
    </div>

    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <div class="login-box-body px-3">
          <div>
            <h3 class="auth-title text-center">Welcome POS</h3>
            <p class="auth-desc">Please sign-in to your account and start the adventure</p>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
            <div class="col-sm-12 mb-3">
              <div class="form-group has-feedback">
                <input type="text" class="form-control" id="email_address"
                  placeholder="Username" formControlName="Username">
              </div>
            </div>

            <div class="col-sm-12 mb-3">
              <div class="form-group has-feedback pass">
                <input type="password" formControlName="Password" class="form-control" id="password" placeholder="Password"
                  >
              </div>
            </div>
            <div class="col-sm-12">
              <button type="submit" name="submit" value="submit" class="btn bg-blue-btn w-100">
                Login</button>
                <div class="mt-2" >
                  <a  routerLink="/register">Create Account</a>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
