<section class="main-content-wrapper">
  <div class="box-wrapper" [hidden]="isShow == true">
    <div class="table-box">
      <!-- /.box-header -->
      <div class="table-responsive">
        <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
          <div class="top-left-item col-sm-12 col-md-6">
            <div class="dataTables_length" id="datatable_length">
              <label>Entries
                <select name="datatable_length" aria-controls="datatable" class="custom-select custom-select-sm form-control form-control-sm">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                <!-- <i class="fa fa-angle-down" aria-hidden="true"></i> -->
              </label>
            </div>
            <div class="right-btn-box">
              <div id="datatable_filter" class="dataTables_filter">
                <label class=""><input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search Here"
                    aria-controls="datatable"/></label>
              </div>
            </div>
          </div>
          <div class="top-right-item col-sm-12 col-md-6">
            <section class="content-header">
              <div class="row">
                <div class="col-md-offset-2" [hidden]="isShow == true">
                  <div class="btn_list m-right d-flex">
                    <a class="btn bg-blue-btn m-right" (click)="addNewCustomer()">
                      <i data-feather="plus"></i> Add Customer
                    </a>
                    <a class="btn bg-blue-btn">
                      <i data-feather="upload"></i> Upload Customer
                    </a>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <table id="datatable" class="table dataTable no-footer" role="grid" aria-describedby="datatable_info">
            <thead>
              <tr role="row">
                <th class="ir_w_1">SN</th>
                <th class="ir_w_12">Customer Name</th>
                <th class="ir_w_7">Phone</th>
                <th class="ir_w_7">Email</th>
                <th class="ir_w_7">Date Of Birth</th>
                <th class="ir_w_7">Date Of Anniversary</th>
                <th class="ir_w_10">Address</th>
                <th class="ir_w_10">Added By</th>
                <th class="ir_w_1_txt_center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="ir_txt_center">12</td>
                <td>srk</td>
                <td>9999999</td>
                <td>abc@gmail.com</td>
                <td>0/2/1824</td>
                <td>0/2/1824</td>
                <td>Asi asd</td>
                <td>Admin User</td>
                <td class="ir_txt_center">
                  <div class="btn-group actionDropDownBtn">
                    <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown"  aria-expanded="false">
                      <i data-feather="more-vertical"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                      <li>
                        <a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                      </li>
                      <li>
                        <a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="ir_txt_center">11</td>
                <td>jancuk</td>
                <td>123</td>
                <td>abc@gmail.com</td>
                <td>0/2/1824</td>
                <td>0/2/1824</td>
                <td>Asi asd</td>
                <td>Admin User</td>
                <td class="ir_txt_center">
                  <div class="btn-group actionDropDownBtn">
                    <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown"  aria-expanded="false">
                      <i data-feather="more-vertical"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1"  role="menu">
                      <li>
                        <a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                      </li>
                      <li>
                        <a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="ir_txt_center">10</td>
                <td>Raj Obrey</td>
                <td>7815057500</td>
                <td>rajobrey@gmail.com</td>
                <td>2021-09-07</td>
                <td>2021-09-08</td>
                <td>asfdsa fd</td>
                <td>Admin User</td>
                <td class="ir_txt_center">
                  <div class="btn-group actionDropDownBtn">
                    <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i data-feather="more-vertical"></i>
                    </button>
                    <ul  class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                      <li>
                        <a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                      </li>
                      <li>
                        <a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="ir_txt_center">9</td>
                <td>Test</td>
                <td>+919876543210</td>
                <td>rajobrey@gmail.com</td>
                <td>2021-09-07</td>
                <td>2021-09-08</td>
                <td>asfdsa fd</td>
                <td>Admin User</td>
                <td class="ir_txt_center">
                  <div class="btn-group actionDropDownBtn">
                    <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                         <i data-feather="more-vertical"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1"  role="menu">
                      <li>
                        <a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                      </li>
                      <li>
                        <a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="ir_txt_center">8</td>
                <td>adam</td>
                <td>0633833747</td>
                <td>brahimalionne@gmail.cm</td>
                <td>2021-09-07</td>
                <td>2021-09-08</td>
                <td>14 rue constance</td>
                <td>Admin User</td>
                <td class="ir_txt_center">
                  <div class="btn-group actionDropDownBtn">
                    <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i data-feather="more-vertical"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                      <li>
                        <a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                      </li>
                      <li>
                        <a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="bottom-left-item col-sm-12 col-md-6">
            <div
              class="dataTables_info"
              id="datatable_info"
              role="status"
              aria-live="polite"
            >
              Showing 0 to 0 of 0 entries
            </div>
          </div>
          <div class="bottom-right-item col-sm-12 col-md-6">
            <div
              class="dataTables_paginate paging_simple_numbers"
              id="datatable_paginate"
            >
              <ul class="pagination">
                <li
                  class="paginate_button page-item previous disabled"
                  id="datatable_previous"
                >
                  <a
                    href="#"
                    aria-controls="datatable"
                    data-dt-idx="0"
                    tabindex="0"
                    class="page-link"
                    ><i class="fa fa-chevron-left"></i
                  ></a>
                </li>
                <li
                  class="paginate_button page-item next disabled"
                  id="datatable_next"
                >
                  <a
                    href="#"
                    aria-controls="datatable"
                    data-dt-idx="1"
                    tabindex="0"
                    class="page-link"
                    ><i class="fa fa-chevron-right"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</section>

<section class="main-content-wrapper" [hidden]="isShow == false">
  <section class="content-header">
    <h3 class="top-left-header">Add Customer</h3>
  </section>

  <div class="box-wrapper">
    <div class="table-box">
      <form [formGroup]="customerForm" (ngSubmit)="onCustomerSubmit()">
        <div>
          <div class="row">
            <div class="col-sm-12 mb-2 col-md-4">
              <div class="form-group">
                <label>Customer Name <span class="required_star">*</span></label>
                <input tabindex="1" type="text" name="name" formControlName="CustomerName" class="form-control" placeholder="Customer Name" value=""/>
              </div>
            </div>
            <div class="col-sm-12 mb-2 col-md-4">
              <div class="form-group">
                <label>Phone <span class="required_star">*</span></label>
                <small>Should contain country code</small>
                <input tabindex="2" type="text" name="phone" class="form-control integerchk" formControlName="Phone" placeholder="Phone" value=""/>
              </div>
            </div>
            <div class="col-sm-12 mb-2 col-md-4">
              <div class="form-group">
                <label>Email</label>
                <input
                  tabindex="3"
                  type="text"
                  name="email"
                  class="form-control"
                  formControlName="Email"
                  placeholder="Email"
                  value=""
                />
              </div>
            </div>
            <div class="col-sm-12 mb-2 col-md-4">
              <div class="form-group">
                <label>Date Of Birth</label>
                <input
                  tabindex="4"
                  type="text"
                  id="date"
                  name="date_of_birth"
                  formControlName="DateOfBirth"
                  class="form-control w-100 datepicker"
                  placeholder="Date Of Birth"
                  value=""
                />
              </div>
            </div>
            <div class="col-sm-12 mb-2 col-md-4">
              <div class="form-group">
                <label>Date Of Anniversary</label>
                <input
                  tabindex="5"
                  type="text"
                  id="dates2"
                  name="date_of_anniversary"
                  formControlName="DateOfAnniversary"
                  class="form-control"
                  placeholder="Date Of Anniversary"
                  value=""
                />
              </div>
            </div>
            <div class="col-sm-12 mb-2 col-md-4">
              <div class="form-group">
                <label>Address</label>
                <textarea
                  tabindex="6"
                  name="address"
                  class="form-control"
                  formControlName="Address"
                  placeholder="Address"
                ></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-12 col-md-2 mb-2">
            <button (click)="SaveCustomer()"
              type="submit"
              name="submit"
              value="submit"
              class="btn bg-blue-btn w-100"
            >
              Submit
            </button>
          </div>
          <div class="col-sm-12 col-md-2 mb-2">
            <a class="btn bg-blue-btn w-100">
              Back
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>


