<section class="main-content-wrapper">
    <section class="content-header">
        <div class="col-sm-12" [hidden]="isShow==true">
            <h2 class="top-left-header">Food Menus </h2>
            <input type="hidden" class="datatable_name" data-filter="yes" data-title="Food Menus" data-id_name="datatable">
        </div>
    </section>
    <div class="box-wrapper">
        <div class="row my-3" [hidden]="isShow==true">
            <div class="col-sm-12 col-md-3">
                <a class="btn bg-blue-btn" (click)=addNewFoodMenu()>
                    <i class="m-right" data-feather="plus"></i> Add Food Menu </a>
            </div>
            <div class="col-sm-12 col-md-3">
                <a class="btn bg-blue-btn" (click)=uploadFoodMenu()>
                    <i class="m-right" data-feather="upload"></i> Upload Food Menu </a>
            </div>
            <div class="col-sm-12 col-md-3">
                <a class="btn bg-blue-btn" (click)=uploadRecipt()>
                    <i class="m-right" data-feather="upload-cloud"></i> Upload Recipe </a>
            </div>
            <div class="col-sm-12 col-md-3">
                <a class="btn bg-blue-btn">
                    <i class="m-right" data-feather="codesandbox"></i> Food Menu Barcode </a>
            </div>
        </div>
        <div [hidden]="addFoodMenu != true">
            <div class="table-box" [hidden]="showTable==false">
                <!-- /.box-header -->
                <div class="table-responsive">
                    <table id="datatable" class="table table-striped">
                        <thead>
                            <tr>
                                <th class="ir_w_1"> SN</th>
                                <th class="ir_w_8">Code</th>
                                <th class="ir_w_25">Name</th>
                                <th class="ir_w_13">Category</th>
                                <th class="ir_w_13">Sale Price</th>
                                <th class="ir_w_13">Total Ingredients</th>
                                <th class="ir_w_18">Added By</th>
                                <th class="ir_w_1 ir_txt_center not-export-col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="ir_txt_center">37</td>
                                <td>037</td>
                                <td>Calamari Rings</td>
                                <td>Seafoods</td>
                                <td>
                                    75.00</td>
                                <td class="ir_txt_center">1</td>
                                <td>Admin User</td>
                                <td class="ir_txt_center">
                                    <div class="btn-group  actionDropDownBtn">
                                        <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i data-feather="more-vertical"></i>
                    </button>
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                            <li><a><i class="fa fa-eye tiny-icon"></i>View Details</a>
                                            </li>
                                            <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                                            </li>
                                            <li><a><i class="fa fa-plus tiny-icon"></i>Assign Modifier</a>
                                            </li>
                                            <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="ir_txt_center">36</td>
                                <td>036</td>
                                <td>Seafoods</td>
                                <td>Maxiacan</td>
                                <td>
                                    25.00</td>
                                <td class="ir_txt_center">3</td>
                                <td>Admin User</td>
                                <td class="ir_txt_center">
                                    <div class="btn-group  actionDropDownBtn">
                                        <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i data-feather="more-vertical"></i>
                    </button>
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                            <li><a><i class="fa fa-eye tiny-icon"></i>View Details</a>
                                            </li>
                                            <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                                            </li>
                                            <li><a><i class="fa fa-plus tiny-icon"></i>Assign Modifier</a>
                                            </li>
                                            <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="ir_txt_center">35</td>
                                <td>035</td>
                                <td>Food Menu 123</td>
                                <td>Fast Food </td>
                                <td>
                                    10000.00</td>
                                <td class="ir_txt_center">1</td>
                                <td>Admin User</td>
                                <td class="ir_txt_center">
                                    <div class="btn-group  actionDropDownBtn">
                                        <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i data-feather="more-vertical"></i>
                    </button>
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                            <li><a><i class="fa fa-eye tiny-icon"></i>View Details</a>
                                            </li>
                                            <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                                            </li>
                                            <li><a><i class="fa fa-plus tiny-icon"></i>Assign Modifier</a>
                                            </li>
                                            <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="ir_txt_center">34</td>
                                <td>034</td>
                                <td>Pepsi</td>
                                <td>Beverage</td>
                                <td>
                                    1100.00</td>
                                <td class="ir_txt_center">1</td>
                                <td>Admin User</td>
                                <td class="ir_txt_center">
                                    <div class="btn-group  actionDropDownBtn">
                                        <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i data-feather="more-vertical"></i>
                    </button>
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                            <li><a><i class="fa fa-eye tiny-icon"></i>View Details</a>
                                            </li>
                                            <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                                            </li>
                                            <li><a><i class="fa fa-plus tiny-icon"></i>Assign Modifier</a>
                                            </li>
                                            <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="ir_txt_center">33</td>
                                <td>033</td>
                                <td>Juan</td>
                                <td>Maxiacan</td>
                                <td>
                                    200.00</td>
                                <td class="ir_txt_center">1</td>
                                <td>Admin User</td>
                                <td class="ir_txt_center">
                                    <div class="btn-group  actionDropDownBtn">
                                        <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i data-feather="more-vertical"></i>
                    </button>
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                            <li><a><i class="fa fa-eye tiny-icon"></i>View Details</a>
                                            </li>
                                            <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                                            </li>
                                            <li><a><i class="fa fa-plus tiny-icon"></i>Assign Modifier</a>
                                            </li>
                                            <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="ir_txt_center">32</td>
                                <td>032</td>
                                <td>Sopa</td>
                                <td>Maxiacan</td>
                                <td>
                                    20.00</td>
                                <td class="ir_txt_center">1</td>
                                <td>Admin User</td>
                                <td class="ir_txt_center">
                                    <div class="btn-group  actionDropDownBtn">
                                        <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i data-feather="more-vertical"></i>
                    </button>
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                            <li><a><i class="fa fa-eye tiny-icon"></i>View Details</a>
                                            </li>
                                            <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                                            </li>
                                            <li><a><i class="fa fa-plus tiny-icon"></i>Assign Modifier</a>
                                            </li>
                                            <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="ir_txt_center">31</td>
                                <td>031</td>
                                <td>Todas</td>
                                <td>Maxiacan</td>
                                <td>
                                    12.00</td>
                                <td class="ir_txt_center">1</td>
                                <td>Admin User</td>
                                <td class="ir_txt_center">
                                    <div class="btn-group  actionDropDownBtn">
                                        <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i data-feather="more-vertical"></i>
                    </button>
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                            <li><a><i class="fa fa-eye tiny-icon"></i>View Details</a>
                                            </li>
                                            <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                                            </li>
                                            <li><a><i class="fa fa-plus tiny-icon"></i>Assign Modifier</a>
                                            </li>
                                            <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="ir_txt_center">30</td>
                                <td>030</td>
                                <td>TATIANA &amp;amp;lt;3</td>
                                <td>Maxiacan</td>
                                <td>
                                    300.00</td>
                                <td class="ir_txt_center">1</td>
                                <td>Admin User</td>
                                <td class="ir_txt_center">
                                    <div class="btn-group  actionDropDownBtn">
                                        <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i data-feather="more-vertical"></i>
                    </button>
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                            <li><a><i class="fa fa-eye tiny-icon"></i>View Details</a>
                                            </li>
                                            <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                                            </li>
                                            <li><a><i class="fa fa-plus tiny-icon"></i>Assign Modifier</a>
                                            </li>
                                            <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="ir_txt_center">1</td>
                                <td>02</td>
                                <td>Fish Tacos</td>
                                <td>American</td>
                                <td>
                                    200.00</td>
                                <td class="ir_txt_center">5</td>
                                <td>Admin User</td>
                                <td class="ir_txt_center">
                                    <div class="btn-group  actionDropDownBtn">
                                        <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i data-feather="more-vertical"></i>
                    </button>
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                            <li><a><i class="fa fa-eye tiny-icon"></i>View Details</a>
                                            </li>
                                            <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                                            </li>
                                            <li><a><i class="fa fa-plus tiny-icon"></i>Assign Modifier</a>
                                            </li>
                                            <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

    </div>
    <section class="main-content-wrapper" [hidden]="showTable==true">
        <section class="content-header">
            <h3 class="top-left-header">
                Add Food Menu </h3>
        </section>
        <div class="box-wrapper">
            <!-- general form elements -->
            <div class="table-box">
                <form [formGroup]="foodMenuForm" (ngSubmit)="onFoodMenuSubmit()">
                    <div>
                        <div class="row">
                            <div class="col-sm-12 mb-2 col-md-4">
                                <div class="form-group">
                                    <label>Name <span class="required_star">*</span></label>
                                    <input tabindex="1" type="text" id="name" name="name" formControlName="Name" class="form-control" placeholder="Name" value="">
                                </div>
                                <div class="">
                                    <p id="name_err_msg"></p>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-2 col-md-4">
                                <div class="form-group">
                                    <label>Code</label>
                                    <input tabindex="6" type="text" name="code" formControlName="Code" class="form-control" placeholder="Code" value="038">
                                </div>
                            </div>
                            <div class="col-sm-12 mb-2 col-md-4">
                                <div class="form-group">
                                    <label>Category <span class="required_star">*</span></label>
                                    <select tabindex="2" class="form-control select2 ir_w_100" formControlName="Category" id="category_id" name="category_id">
                    <option value="">Select</option>
                    <option value="27">
                      Seafoods</option>
                    <option value="26">
                      ცომეული</option>
                    <option value="19">
                      Maxiacan</option>
                    <option value="17">
                      Japanese</option>
                    <option value="16">
                      Indian</option>
                    <option value="15">
                      American</option>
                    <option value="14">
                      Deserts </option>
                    <option value="13">
                      Thai Food</option>
                    <option value="12">
                      Italian</option>
                    <option value="11">
                      Bengali</option>
                    <option value="10">
                      Mexican</option>
                    <option value="8">
                      Beverage</option>
                    <option value="2">
                      Fast Food </option>
                    <option value="1">
                      Chienese</option>
                  </select>
                                </div>
                                <div class="">
                                    <p id="category_id_err_msg"></p>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 mb-2 col-md-4">
                                <div class="form-group">
                                    <label>Ingredient Consumptions <span class="required_star">*</span></label>
                                    <select tabindex="5" formControlName="IngredientConsumption" class="txt_21 form-control select2 select2-hidden-accessible" name="ingredient_id" id="ingredient_id">
                    <option value="">Select</option>
                    <option value="111|Ahi tuna|g">
                      Ahi tuna(IG-099)</option>
                    <option value="118|All-purpose flour|g">
                      All-purpose flour(IG-106)</option>
                    <option value="50|Allspice|g">
                      Allspice(IG-038)</option>
                    <option value="75|American cheese|Pcs">
                      American cheese(IG-063)</option>
                    <option value="142|Avocado |Pcs">
                      Avocado (IG-130)</option>
                    <option value="226|Ayam potong|Kg">
                      Ayam potong(137)</option>
                    <option value="17|yogurt|g">
                      yogurt(IG-005)</option>
                    <option value="220|კარტოფილი ფრი / Fries|Kg">
                      კარტოფილი ფრი / Fries()</option>
                    <option value="223|კეჩუპი / Ketchup|Kg">
                      კეჩუპი / Ketchup()</option>
                    <option value="222|პური / Bread|Pcs">
                      პური / Bread()</option>
                    <option value="221|ხორცი / Meat|Kg">
                      ხორცი / Meat()</option>
                  </select>
                                </div>
                                <div class="">
                                    <p id="ingredient_id_err_msg"></p>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-2 col-md-2">
                                <div class="hidden-xs hidden-sm mt-2">&nbsp;</div>
                                <a class="btn bg-red-btn" data-bs-toggle="modal" data-bs-target="#noticeModal">Read Me First</a>
                            </div>
                            <div class="clearfix"></div>
                            <div class="hidden-lg hidden-sm">&nbsp;</div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive" id="ingredient_consumption_table">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>SN</th>
                                                <th>Ingredient</th>
                                                <th>Consumption</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 mb-2 col-md-4">
                                <div class="form-group">
                                    <label>Sale Price <span class="required_star">*</span></label>
                                    <input tabindex="4" type="text" onfocus="this.select();" formControlName="SalePrice" id="sale_price" name="sale_price" class="form-control integerchk" onkeyup="return replacePonto();" placeholder="Sale Price" value="">
                                </div>
                                <div class="">
                                    <p id="sale_price_err_msg"></p>
                                </div>

                            </div>
                            <div class="col-sm-12 mb-2 col-md-4">
                                <div class="form-group">
                                    <label>Description</label>
                                    <input tabindex="1" type="text" id="description" formControlName="Description" name="description" class="form-control" placeholder="Description" value="">
                                </div>
                                <div class="">
                                    <p id="description_err_msg"></p>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-2 col-md-4">
                                <div class="form-group">
                                    <label>Photo </label>
                                    <input class="form-control" formControlName="Photo" tabindex="10" type="file" name="photo" id="photo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 mb-2 col-md-4">
                                <div class="form-group">
                                    <label>Is it Veg Item ? <span class="required_star"> *</span></label>
                                    <select tabindex="2" formControlName="VegItem" class="form-control select2 ir_w_100" id="veg_item" name="veg_item">
                    <option value="Veg No">No</option>
                    <option value="Veg Yes">Yes</option>
                  </select>
                                </div>
                                <div class="">
                                    <p id="veg_item_err_msg"></p>
                                </div>

                            </div>

                            <div class="col-sm-12 mb-2 col-md-4">
                                <div class="form-group">
                                    <label>Is it Beverage ? <span class="required_star">*</span></label>
                                    <select tabindex="2" formControlName="IsItBeverage" class="w-100 form-control select2" id="beverage_item" name="beverage_item">
                    <option value="Beverage No">No</option>
                    <option value="Beverage Yes">Yes</option>
                  </select>
                                </div>
                                <div class="">
                                    <p id="beverage_item_err_msg"></p>
                                </div>
                            </div>

                            <div class="col-sm-12 mb-2 col-md-4">
                                <div class="form-group">
                                    <label>Is it Bar Item ? <span class="required_star">*</span></label>
                                    <select tabindex="2" formControlName="IsItBarItem" class="form-control select2 ir_w_100" id="bar_item" name="bar_item">
                    <option value="Bar No">No</option>
                    <option value="Bar Yes">Yes</option>
                  </select>
                                </div>
                                <div class="">
                                    <p id="bar_item_err_msg"></p>
                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-12 mb-2 col-md-4">
                                <div class="form-group">
                                    <label>VAT</label>
                                    <table class="ir_w_100">
                                        <tr>
                                            <td>
                                                <input tabindex="1" type="hidden" name="tax_field_id[]" value="1">
                                                <input tabindex="1" type="hidden" name="tax_field_company_id[]" value="1">
                                                <input tabindex="1" type="hidden" name="tax_field_name[]" value="VAT">
                                                <input tabindex="1" type="text" name="tax_field_percentage[]" class="form-control integerchk" placeholder="VAT" formControlName="Vat">
                                            </td>
                                            <td class="txt_27">%</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <!-- /.box-body -->

                        <div class="row mt-3">
                            <div class="col-sm-12 col-md-2 mb-2">
                                <button type="submit" name="submit" value="submit" class="btn bg-blue-btn w-100">Submit</button>
                            </div>
                            <div class="col-sm-12 col-md-2 mb-2">
                                <a class="btn bg-blue-btn w-100" (click)=addNewFoodMenu()>
                  Back </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- /.content -->
</section>



<!-- upload Food Menu -->
<section class="main-content-wrapper" [hidden]="isShowFoodMenu==false">
    <div class="alert-wrapper">
    </div>
    <section class="content-header">
        <h3 class="top-left-header">
            Upload Food Menu </h3>
    </section>
    <div class="box-wrapper">
        <!-- general form elements -->
        <div class="table-box">
            <!-- form start -->
            <form action="http://dsbeta.work/demo/irestora_plus_multi_outlet/foodMenu/ExcelDataAddFoodmenus" enctype="multipart/form-data" method="post" accept-charset="utf-8">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Upload File <span class="required_star">*</span></label>
                                <input tabindex="1" type="file" name="userfile" class="form-control" placeholder="Upload File" value="">
                            </div>
                            <div class="checkbox my-2 form-group">
                                <label class="container">
                  <input type="checkbox" name="remove_previous" value="1">
                  <span>Remove all prevoius data, before uploading new data.</span>
                  <span class="checkmark"></span>
                </label>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.box-body -->

                <div class="row">
                    <div class="col-sm-12 col-md-2 mb-2">

                        <button type="submit" name="submit" value="submit" class="btn bg-blue-btn w-100">Submit</button>
                    </div>
                    <div class="col-sm-12 col-md-2 mb-2">
                        <a class="btn bg-blue-btn w-100" (click)=addNewFoodMenu()> Back </a>
                    </div>
                    <div class="col-sm-12 col-md-3 mb-2">
                        <a class="btn bg-blue-btn w-100">
                            <i class="fa fa-save m-right"></i> Download Sample</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- upload Recipe -->

<section class="main-content-wrapper" [hidden]="isShowUploadMenu==false">
    <div class="alert-wrapper">
    </div>
    <section class="content-header">
        <h3 class="top-left-header">
            Upload Recipe </h3>
    </section>
    <div class="box-wrapper">
        <!-- general form elements -->
        <div class="table-box">
            <!-- form start -->
            <form action="http://dsbeta.work/demo/irestora_plus_multi_outlet/foodMenu/ExcelDataAddFoodmenus" enctype="multipart/form-data" method="post" accept-charset="utf-8">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Upload File <span class="required_star">*</span></label>
                                <input tabindex="1" type="file" name="userfile" class="form-control" placeholder="Upload File" value="">
                            </div>
                            <div class="checkbox my-2 form-group">
                                <label class="container">
                  <input type="checkbox" name="remove_previous" value="1">
                  <span>Remove all prevoius data, before uploading new data.</span>
                  <span class="checkmark"></span>
                </label>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.box-body -->
                <div class="row">
                    <div class="col-sm-12 col-md-2 mb-2">

                        <button type="submit" name="submit" value="submit" class="btn bg-blue-btn w-100">Submit</button>
                    </div>
                    <div class="col-sm-12 col-md-2 mb-2">
                        <a class="btn bg-blue-btn w-100">
              Back </a>
                    </div>
                    <div class="col-sm-12 col-md-3 mb-2">
                        <a class="btn bg-blue-btn w-100" href="">
                            <i class="fa fa-save m-right"></i> Download Sample</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
