<section class="main-content-wrapper">
    <section class="content-header">
        <div class="row">
            <div class="col-md-6" [hidden]="isShow==true">
                <h2 class="top-left-header">Suppliers </h2>
                <input type="hidden" class="datatable_name" data-title="Suppliers" data-id_name="datatable">
            </div>
            <div class="col-md-6" [hidden]="isShow==true">
                <a class="btn_list btn bg-blue-btn m-right" (click)=addNewSupplier()>
                    <i data-feather="plus"></i> Add Supplier </a>
            </div>
        </div>
    </section>


    <div class="box-wrapper" [hidden]="isShow==true">
        <!-- general form elements -->
        <div class="table-box">
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="datatable" class="table table-striped">
                    <thead>
                        <tr>
                            <th class="ir_w_1"> SN</th>
                            <th class="ir_w_14">Name</th>
                            <th class="ir_w_14">Contact Person</th>
                            <th class="ir_w_9">Phone</th>
                            <th class="ir_w_10">Email</th>
                            <th class="ir_w_20">Address</th>
                            <th class="ir_w_17">Description</th>
                            <th class="ir_w_16">Added By</th>
                            <th class="ir_w_1 ir_txt_center not-export-col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="ir_txt_center">16</td>
                            <td>LTD Family Market</td>
                            <td>Roin</td>
                            <td>555327474</td>
                            <td>roin@odissia.ge</td>
                            <td>14b Shalva Nuthubidze street, Entrance 4, Floor 8</td>
                            <td>Wholeseller </td>
                            <td>GIGI</td>
                            <td class="ir_txt_center">
                                <div class="btn-group  actionDropDownBtn">
                                    <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                        <li><a href="http://dsbeta.work/demo/irestora_plus_multi_outlet/supplier/addEditSupplier/29"><i
                          class="fa fa-pencil tiny-icon"></i>Edit</a>
                                        </li>
                                        <li><a class="delete" href="http://dsbeta.work/demo/irestora_plus_multi_outlet/supplier/deleteSupplier/29"><i
                          class="fa fa-trash tiny-icon"></i>Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ir_txt_center">6</td>
                            <td>Fineberry Foods Inc. - Dried Fruits and bakery Ing</td>
                            <td>Robert Salas</td>
                            <td>202-555-0136</td>
                            <td>RobertESalas@rhyta.com</td>
                            <td>3132 Forest Drive, Washington, VA 20005</td>
                            <td></td>
                            <td>Admin User</td>
                            <td class="ir_txt_center">
                                <div class="btn-group  actionDropDownBtn">
                                    <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                        <li><a href="http://dsbeta.work/demo/irestora_plus_multi_outlet/supplier/addEditSupplier/18"><i
                          class="fa fa-pencil tiny-icon"></i>Edit</a>
                                        </li>
                                        <li><a class="delete" href="http://dsbeta.work/demo/irestora_plus_multi_outlet/supplier/deleteSupplier/18"><i
                          class="fa fa-trash tiny-icon"></i>Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ir_txt_center">5</td>
                            <td>Calico Food Ingredients Ltd</td>
                            <td>Nathan McCord</td>
                            <td>202-555-0139</td>
                            <td>pontificious@finans-edenitsa.ru</td>
                            <td>3132 Forest Drive, Washington, VA 20005</td>
                            <td></td>
                            <td>Admin User</td>
                            <td class="ir_txt_center">
                                <div class="btn-group  actionDropDownBtn">
                                    <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                        <li><a href="http://dsbeta.work/demo/irestora_plus_multi_outlet/supplier/addEditSupplier/17"><i
                          class="fa fa-pencil tiny-icon"></i>Edit</a>
                                        </li>
                                        <li><a class="delete" href="http://dsbeta.work/demo/irestora_plus_multi_outlet/supplier/deleteSupplier/17"><i
                          class="fa fa-trash tiny-icon"></i>Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ir_txt_center">4</td>
                            <td>HT Griffin Food Ingredients</td>
                            <td>Michael Burns</td>
                            <td>202-555-0100</td>
                            <td>RobertJAcevedo@jourrapide.com</td>
                            <td>3132 Forest Drive, Washington, VA 20005</td>
                            <td></td>
                            <td>Admin User</td>
                            <td class="ir_txt_center">
                                <div class="btn-group  actionDropDownBtn">
                                    <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                        <li><a href="http://dsbeta.work/demo/irestora_plus_multi_outlet/supplier/addEditSupplier/16"><i
                          class="fa fa-pencil tiny-icon"></i>Edit</a>
                                        </li>
                                        <li><a class="delete" href="http://dsbeta.work/demo/irestora_plus_multi_outlet/supplier/deleteSupplier/16"><i
                          class="fa fa-trash tiny-icon"></i>Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ir_txt_center">3</td>
                            <td>Ingredients Plus Distribution Inc.</td>
                            <td>John Covington</td>
                            <td>202-555-0190</td>
                            <td>JamesVWhite@rhyta.com</td>
                            <td>3132 Forest Drive, Washington, VA 20005</td>
                            <td></td>
                            <td>Admin User</td>
                            <td class="ir_txt_center">
                                <div class="btn-group  actionDropDownBtn">
                                    <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                        <li><a href="http://dsbeta.work/demo/irestora_plus_multi_outlet/supplier/addEditSupplier/13"><i
                          class="fa fa-pencil tiny-icon"></i>Edit</a>
                                        </li>
                                        <li><a class="delete" href="http://dsbeta.work/demo/irestora_plus_multi_outlet/supplier/deleteSupplier/13"><i
                          class="fa fa-trash tiny-icon"></i>Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ir_txt_center">2</td>
                            <td>CK Ingredients</td>
                            <td>Demarcus Hagan</td>
                            <td>202-555-0109</td>
                            <td>LawrenceMJohnson@armyspy.com</td>
                            <td>3132 Forest Drive, Washington, VA 20005</td>
                            <td></td>
                            <td>Admin User</td>
                            <td class="ir_txt_center">
                                <div class="btn-group  actionDropDownBtn">
                                    <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                        <li><a href="http://dsbeta.work/demo/irestora_plus_multi_outlet/supplier/addEditSupplier/10"><i
                          class="fa fa-pencil tiny-icon"></i>Edit</a>
                                        </li>
                                        <li><a class="delete" href="http://dsbeta.work/demo/irestora_plus_multi_outlet/supplier/deleteSupplier/10"><i
                          class="fa fa-trash tiny-icon"></i>Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ir_txt_center">1</td>
                            <td>Dealers Ingredients Inc </td>
                            <td>John Davis</td>
                            <td>202-555-0122</td>
                            <td>zawaloja@freemailnow.net</td>
                            <td>3132 Forest Drive, Washington, VA 20005</td>
                            <td></td>
                            <td>Admin User</td>
                            <td class="ir_txt_center">
                                <div class="btn-group  actionDropDownBtn">
                                    <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                        <li><a href="http://dsbeta.work/demo/irestora_plus_multi_outlet/supplier/addEditSupplier/9"><i
                          class="fa fa-pencil tiny-icon"></i>Edit</a>
                                        </li>
                                        <li><a class="delete" href="http://dsbeta.work/demo/irestora_plus_multi_outlet/supplier/deleteSupplier/9"><i
                          class="fa fa-trash tiny-icon"></i>Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>

</section>

<section class="main-content-wrapper" [hidden]="isShow==false">

    <section class="content-header">
        <h1>
            Add Supplier </h1>
    </section>
    <div class="box-wrapper">
        <div class="table-box">
            <!-- form start -->
            <form [formGroup]="supplierForm" (ngSubmit)="onSupplierSubmit()">
                <div>
                    <div class="row">
                        <div class="col-sm-12 mb-2 col-md-6">

                            <div class="form-group mb-2">
                                <label>Name <span class="required_star">*</span></label>
                                <input tabindex="1" type="text" name="name" formControlName="SupplierName" class="form-control" placeholder="Name" value="">
                            </div>

                            <div class="form-group mb-2">
                                <label>Contact Person <span class="required_star">*</span></label>
                                <input tabindex="2" type="text" name="contact_person" formControlName="ContactPerson" class="form-control" placeholder="Contact Person" value="">
                            </div>

                            <div class="form-group mb-2">
                                <label>Phone <span class="required_star">*</span></label>
                                <input tabindex="3" type="text" name="phone" formControlName="Phone" class="form-control integerchk" placeholder="Phone" value="">
                            </div>
                            <div class="form-group mb-2">
                                <label>Email</label>
                                <input tabindex="4" type="text" name="email" formControlName="Email" class="form-control" placeholder="Email" value="">
                            </div>
                        </div>
                        <div class="col-sm-12 mb-2 col-md-6">
                            <div class="form-group mb-2">
                                <label>Address</label>
                                <textarea tabindex="5" class="form-control" formControlName="Address" rows="3" name="address" placeholder="Address"></textarea>
                            </div>
                            <div class="form-group mb-2">
                                <label>Description</label>
                                <textarea tabindex="6" class="form-control" rows="4" formControlName="Description" name="description" placeholder="Enter ..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="row mt-2">
                    <div class="col-sm-12 col-md-2 mb-2">
                        <button type="submit" name="submit" value="submit" class="btn bg-blue-btn w-100">Submit</button>
                    </div>
                    <div class="col-sm-12 col-md-2 mb-2">
                        <a class="btn bg-blue-btn w-100" (click)=addNewSupplier()>
              Back </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- /.content -->
