<section class="main-content-wrapper">
    <section class="content-header">
        <div class="row">
            <div class="col-md-12" [hidden]="isShow==true">
                <h2 class="top-left-header">Payment Methods </h2>
                <input type="hidden" class="datatable_name" data-title="Payment Methods" data-id_name="datatable">
            </div>
            <div [hidden]="isShow==true">
                <a class="btn_list btn bg-blue-btn m-right" (click)="addNewPaymentMethod()">
                    <i data-feather="plus"></i> Add Payment Method </a>
            </div>
        </div>
    </section>
    <div class="box-wrapper" [hidden]="isShow==true">
        <!-- general form elements -->
        <div class="table-box">
            <!-- /.box-header -->
            <div class="table-responsive">
                <table id="datatable" class="table">
                    <thead>
                        <tr>
                            <th class="ir_w_1"> SN</th>
                            <th class="ir_w_10 ">Payment Method Name</th>
                            <th class="ir_w_10">Description</th>
                            <th class="ir_w_26">Added By</th>
                            <th class="ir_w_1 ir_txt_center not-export-col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="ir_txt_center">4</td>
                            <td>Benefit Pay</td>
                            <td>Benefit Pay</td>
                            <td>Admin User</td>
                            <td class="ir_txt_center">
                                <div class="btn-group  actionDropDownBtn">
                                    <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                        <li><a><i
                          class="fa fa-pencil tiny-icon"></i>Edit</a>
                                        </li>
                                        <li><a class="delete"><i
                          class="fa fa-trash tiny-icon"></i>Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ir_txt_center">3</td>
                            <td>Cash</td>
                            <td>Addedd</td>
                            <td>Admin User</td>
                            <td class="ir_txt_center">
                                <div class="btn-group  actionDropDownBtn">
                                    <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                        <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                                        </li>
                                        <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ir_txt_center">2</td>
                            <td>Paypal</td>
                            <td>top pay</td>
                            <td>Admin User</td>
                            <td class="ir_txt_center">
                                <div class="btn-group  actionDropDownBtn">
                                    <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                        <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                                        </li>
                                        <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ir_txt_center">1</td>
                            <td>Card</td>
                            <td>Less word</td>
                            <td>Admin User</td>
                            <td class="ir_txt_center">
                                <div class="btn-group  actionDropDownBtn">
                                    <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                        <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                                        </li>
                                        <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</section>
<section class="main-content-wrapper" [hidden]="isShow==false">
    <section class="content-header">
        <h3 class="top-left-header">
            Add Payment Method </h3>
    </section>
    <div class="box-wrapper">
        <!-- general form elements -->
        <div class="table-box">
            <!-- form start -->
            <form [formGroup]="paymentMethodForm" (ngSubmit)="onPaymentMethodSubmit()">
                <div>
                    <div class="row">
                        <div class="col-sm-12 mb-2 col-md-6">

                            <div class="form-group">
                                <label>Payment Method Name <span class="required_star">*</span></label>
                                <input tabindex="1" type="text" name="name" formControlName="PaymentMethodName" class="form-control" placeholder="Payment Method Name" value="">
                            </div>
                        </div>
                        <div class="col-sm-12 mb-2 col-md-6">

                            <div class="form-group">
                                <label>Description</label>
                                <input tabindex="2" type="text" name="description" formControlName="Description" class="form-control" placeholder="Description" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="row mt-2">
                    <div class="col-sm-12 col-md-2 mb-2">
                        <button type="submit" name="submit" value="submit" class="btn bg-blue-btn w-100">Submit</button>
                    </div>
                    <div class="col-sm-12 col-md-2 mb-2">
                        <a class="btn bg-blue-btn w-100" (click)="addNewPaymentMethod()">
              Back </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- /.content -->
