
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="main-content-wrapper">
      <section class="content-header">
        <div class="row">
          <div class="col-md-8" [hidden]="isShow==true">
            <h3 class="top-left-header">
              Outlets</h3>
          </div>
          <div class="col-md-4" [hidden]="isShow==true">
            <a class="bg-blue-btn btn" (click)=addNewOutlets()>
              <svg xmlns="http://www.w3.org/2000/svg" class="feather feather-plus m-right" fill="none"
                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                viewBox="0 0 24 24" width="24" height="24">
                <line x1="12" y1="5" x2="12" y2="19" />
                <line x1="5" y1="12" x2="19" y2="12" />
              </svg> Add Outlet  </a>
          </div>
        </div>
      </section>
      <div class="row" [hidden]="isShow==true">
        <div class="col-sm-12 mb-3 col-md-3 ">
          <div class="outlet-box text-center">
            <i class="fa fa-building fa-3x" style="color:#8be43a9c"></i>
            <h3 class="title">Door Shop</h3>
            <p class="outlet_code">Outlet Code: 000001</p>
            <h4 class="outlet_address">Address: House 5, Road 4, Nikunja 2, Khilkhet, Dhaka </h4>
            <h4 class="outlet_phone">Phone: 01812391633 </h4>
            <h4 class="outlet_phone">Email: info@hiralugedara.com </h4>
            <div class="btn_box">
              <a class="bg-blue-btn btn " routerLink="/Dashboard"> <strong>Enter</strong></a>
              <a class="bg-blue-btn btn " (click)=addNewOutlets()> <strong>Edit</strong></a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mb-3 col-md-3 ">
          <div class="outlet-box text-center">
            <i class="fa fa-building fa-3x" style="color:#00c0ef9c"></i>
            <h3 class="title">DS New Shop</h3>
            <p class="outlet_code">Outlet Code: 000003</p>
            <h4 class="outlet_address">Address: House 5, Road 4, Nikunja 2, Khilkhet, Dhaka </h4>
            <h4 class="outlet_phone">Phone: 41234123123 </h4>
            <h4 class="outlet_phone">Email: newshop@gmail.com </h4>
            <div class="btn_box">
              <a class="bg-blue-btn btn " routerLink="/Dashboard"> <strong>Enter</strong></a>
              <a class="bg-blue-btn btn " (click)=addNewOutlets()> <strong>Edit</strong></a>
              <a class="bg-blue-btn btn delete" href=""> <strong>Delete</strong></a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mb-3 col-md-3 ">
          <div class="outlet-box text-center">
            <i class="fa fa-building fa-3x" style="color:green"></i>
            <h3 class="title">TR Outlet</h3>
            <p class="outlet_code">Outlet Code: 000004</p>
            <h4 class="outlet_address">Address: House 5, Road 4, Nikunja 2, Khilkhet, Dhaka </h4>
            <h4 class="outlet_phone">Phone: 75342341211 </h4>
            <h4 class="outlet_phone">Email: tr@gmail.com </h4>
            <div class="btn_box">
              <a class="bg-blue-btn btn " routerLink="/Dashboard"> <strong>Enter</strong></a>
              <a class="bg-blue-btn btn " (click)=addNewOutlets()> <strong>Edit</strong></a>
              <a class="bg-blue-btn btn delete" href=""> <strong>Delete</strong></a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mb-3 col-md-3 ">
          <div class="outlet-box text-center">
            <i class="fa fa-building fa-3x" style="color:#00c0ef9c"></i>
            <h3 class="title">Roin's Cafe</h3>
            <p class="outlet_code">Outlet Code: 000005</p>
            <h4 class="outlet_address">Address: House 5, Road 4, Nikunja 2, Khilkhet, Dhaka </h4>
            <h4 class="outlet_phone">Phone: +995591915151 </h4>
            <h4 class="outlet_phone">Email:roin@gmail.com </h4>
            <div class="btn_box">
              <a class="bg-blue-btn btn " routerLink="/Dashboard"> <strong>Enter</strong></a>
              <a class="bg-blue-btn btn " (click)=addNewOutlets()> <strong>Edit</strong></a>
              <a class="bg-blue-btn btn delete" href="#"> <strong>Delete</strong></a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mb-3 col-md-3 ">
          <div class="outlet-box text-center">
            <i class="fa fa-building fa-3x" style="color:#00c0ef9c"></i>
            <h3 class="title">Test</h3>
            <p class="outlet_code">Outlet Code: 000006</p>
            <h4 class="outlet_address">Address: asfwef </h4>
            <h4 class="outlet_phone">Phone: 051841841 </h4>
            <h4 class="outlet_phone">Email: Test@gmail.com </h4>
            <div class="btn_box">
              <a class="bg-blue-btn btn " routerLink="/Dashboard"> <strong>Enter</strong></a>
              <a class="bg-blue-btn btn " (click)=addNewOutlets()> <strong>Edit</strong></a>
              <a class="bg-blue-btn btn delete" href="#"> <strong>Delete</strong></a>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
  <div class="box-wrapper" [hidden]="isShow==false">
    <section class="">
      <div class="row">
        <div class="col-md-2">
          <h3>
           Add Outlets</h3>
        </div>
      </div>
    </section>

     <form [formGroup]="outletForm" (ngSubmit)="onOutletsubmit()">
      <div class="row">
        <div class="col-sm-12 mb-2 col-md-6">
          <div class="form-group">
            <label>Outlet Code <span class="required_star">*</span></label>
            <input tabindex="1" autocomplete="off" type="text" formControlName="outletcode" class="form-control"
              placeholder="Outlet Code"  />
          </div>
        </div>
        <div class="col-sm-12 mb-2 col-md-6">
          <div class="form-group">
            <label>Outlet Name <span class="required_star">*</span></label>
            <input tabindex="1" autocomplete="off" type="text" formControlName="outletname" class="form-control"
              placeholder="Outlet Name" value="" />
          </div>
        </div>

        <div class="col-sm-12 mb-2 col-md-6">

          <div class="form-group">
            <label>Phone <span class="required_star">*</span></label>
            <input tabindex="4" autocomplete="off" type="text" formControlName="phone" class="form-control" placeholder="Phone"
              value="" />
          </div>

        </div>
        <div class="col-sm-12 mb-2 col-md-6">

          <div class="form-group">
            <label>Email</label>
            <input tabindex="4" autocomplete="off" type="text" formControlName="email" class="form-control" placeholder="Email"
              value="" />
          </div>

        </div>

        <div class="col-sm-12 mb-2 col-md-6">
          <div class="form-group">
            <label>Address <span class="required_star">*</span></label>
            <textarea tabindex="3" autocomplete="off" formControlName="address" class="form-control"
              placeholder="Address"></textarea>
          </div>

        </div>

        <div class="col-sm-12 mb-2 col-md-6">
          <div class="form-group">
            <label>Active Status <span class="required_star">*</span></label>
            <select class="form-control"  formControlName="status" id="active_status">
              <option value="active">Active</option>
              <option value="inactive">Inactive</option>
            </select>
          </div>
        </div>

        <div class="col-sm-12 mb-2 col-md-6">

          <div class="form-group">
            <label> Default Waiter</label>
            <select tabindex="2" class="form-control select2" formControlName="waiter" id="default_waiter">
              <option value="">Select</option>
              <option value="">zak</option>
            </select>
          </div>
        </div>
        <div class="col-sm-12 mb-2 col-md-6">
          <div class="form-group">
            <label> Has Kitchen?</label>
            <select tabindex="2" class="form-control select2" formControlName="kitchen" id="has_kitchen">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-sm-12 col-md-2">
            <button type="" name="submit" value="submit" class="w-100 btn bg-blue-btn">
              Submit </button>
          </div>

          <div class="col-sm-12 col-md-2">
            <a class="w-100 btn bg-blue-btn" (click)=addNewOutlets()>
              Back
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>

