<section class="main-content-wrapper">
    <section class="content-header">
        <div class="row">
            <div class="col-sm-12" [hidden]="isShow==true">
                <h2 class="top-left-header">Tables </h2>
                <input type="hidden" class="datatable_name" data-title="Tables" data-id_name="datatable">
            </div>
            <div [hidden]="isShow==true">
                <a class="btn_list m-right btn bg-blue-btn" (click)=addNewTable()>
                    <i data-feather="plus"></i> Add Table </a>
            </div>
        </div>
    </section>
    <div class="box-wrapper" [hidden]="isShow==true">
        <!-- general form elements -->
        <div class="table-box">
            <!-- /.box-header -->
            <div class="table-responsive">
                <table id="datatable" class="table">
                    <thead>
                        <tr>
                            <th class="ir_w_1"> SN</th>
                            <th class="ir_w_20">Table Name</th>
                            <th class="ir_w_20">Seat Capacity</th>
                            <th class="ir_w_10">Position</th>
                            <th class="ir_w_20">Description</th>
                            <th class="ir_w_20 ">Outlet</th>
                            <th class="ir_w_20">Added By</th>
                            <th class="ir_w_1 ir_txt_center not-export-col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="ir_txt_center">6</td>
                            <td>Table 2</td>
                            <td>4</td>
                            <td>Middle</td>
                            <td></td>
                            <td class="">Raj Restaurant &amp; Bar</td>
                            <td>Admin User</td>
                            <td class="ir_txt_center">
                                <div class="btn-group  actionDropDownBtn">
                                    <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                        <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                                        </li>
                                        <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ir_txt_center">5</td>
                            <td>Table 01</td>
                            <td>6</td>
                            <td>Left</td>
                            <td></td>
                            <td class="">Raj Restaurant &amp; Bar</td>
                            <td>Admin User</td>
                            <td class="ir_txt_center">
                                <div class="btn-group  actionDropDownBtn">
                                    <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                        <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                                        </li>
                                        <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ir_txt_center">4</td>
                            <td>#1</td>
                            <td>2</td>
                            <td>გარე</td>
                            <td></td>
                            <td class="">Roin's Cafe</td>
                            <td>GIGI</td>
                            <td class="ir_txt_center">
                                <div class="btn-group  actionDropDownBtn">
                                    <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                        <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                                        </li>
                                        <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ir_txt_center">3</td>
                            <td>Room 221</td>
                            <td>4</td>
                            <td>Corner Side Left</td>
                            <td></td>
                            <td class="">Door Shop</td>
                            <td>Admin User</td>
                            <td class="ir_txt_center">
                                <div class="btn-group  actionDropDownBtn">
                                    <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                        <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                                        </li>
                                        <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ir_txt_center">2</td>
                            <td>Table 02</td>
                            <td>6</td>
                            <td>Front Side</td>
                            <td></td>
                            <td class="">Door Shop</td>
                            <td>Admin User</td>
                            <td class="ir_txt_center">
                                <div class="btn-group  actionDropDownBtn">
                                    <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                        <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                                        </li>
                                        <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ir_txt_center">1</td>
                            <td>Table 01</td>
                            <td>6</td>
                            <td>Corner Side</td>
                            <td></td>
                            <td class="">Door Shop</td>
                            <td>Admin User</td>
                            <td class="ir_txt_center">
                                <div class="btn-group  actionDropDownBtn">
                                    <button type="button" class="btn bg-blue-color dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="more-vertical"></i>
                  </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" role="menu">
                                        <li><a><i class="fa fa-pencil tiny-icon"></i>Edit</a>
                                        </li>
                                        <li><a class="delete"><i class="fa fa-trash tiny-icon"></i>Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</section>
<section class="main-content-wrapper" [hidden]="isShow==false">
    <section class="content-header">
        <h3 class="top-left-header">
            Add Table </h3>
    </section>
    <div class="box-wrapper">
        <!-- general form elements -->
        <div class="table-box">
            <!-- form start -->
            <form [formGroup]="tableForm" (ngSubmit)="onTableSubmit()">
                <div>
                    <div class="row">
                        <div class="col-sm-12 mb-2 col-md-4">

                            <div class="form-group">
                                <label>Table Name <span class="required_star">*</span></label>
                                <input tabindex="1" type="text" name="name" formControlName="TableName" class="form-control" placeholder="Table Name" value="">
                            </div>
                        </div>
                        <div class="col-sm-12 mb-2 col-md-4">

                            <div class="form-group">
                                <label>Seat Capacity <span class="required_star">*</span></label>
                                <input tabindex="2" type="text" name="sit_capacity" formControlName="SeatCapacity" class="form-control integerchk" placeholder="Seat Capacity" value="">
                            </div>
                        </div>
                        <div class="col-sm-12 mb-2 col-md-4">

                            <div class="form-group">
                                <label>Position <span class="required_star">*</span></label>
                                <input tabindex="1" type="text" name="position" formControlName="Position" class="form-control" placeholder="Position" value="">
                            </div>
                        </div>
                        <div class="col-sm-12 mb-2 col-md-4">

                            <div class="form-group">
                                <label>Description</label>
                                <input tabindex="2" type="text" name="description" formControlName="Description" class="form-control" placeholder="Description" value="">
                            </div>
                        </div>
                        <div class="col-sm-12 mb-2 col-md-4">

                            <div class="form-group">
                                <label>Outlet</label>
                                <select class="form-control select2" name="outlet" formControlName="Outlet">
                  <option value="1">Door Shop</option>
                  <option value="3">DS New Shop</option>
                  <option value="9">DSD</option>
                  <option value="16">Gianyar</option>
                  <option value="8">Master</option>
                  <option value="13">POS</option>
                  <option value="11">qqwd</option>
                  <option value="17">Raj Restaurant &amp;amp; Bar</option>
                  <option value="6">Roin&#039;s Cafe</option>
                  <option value="10">sample</option>
                  <option value="14">Shapaka Villa</option>
                  <option value="7">Test</option>
                  <option value="4">TR Outlet</option>
                  <option value="15">Vicrollion</option>
                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mt-2">
                    <div class="col-sm-12 col-md-2 mb-2">
                        <button type="submit" name="submit" value="submit" class="btn bg-blue-btn w-100">Submit</button>
                    </div>
                    <div class="col-sm-12 col-md-2 mb-2">
                        <a class="btn bg-blue-btn w-100" (click)=addNewTable()>
              Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
